@charset "utf-8";
body{background:#EFEFEF;margin:0px;font-family:"微软雅黑","Arial Black",Geneva;color:#333;line-height:30px;font-size:16px;color:#807050;}
hr{border:2px solid #006155;margin:0px;}
select{background:#FFF;border:2px solid #B5A67E;height:30px;line-height:30px;}
input{background:#FFF;border:2px solid #B5A67E;width:180px;height:30px;line-height:30px;vertical-align:middle;font-size:16px;padding:0px 5px;color:#807050;}
.inpbig{width:285px !important;}
.inpss{width:30px !important;}
.inpsm{width:50px !important;}
.fontbig{font-size:36px !important;}
a{color:#807050;}
.hotitem, .clkitem{padding:2px 5px;border:1px solid #807050;font-size:14px !important;}
.clkitem{background:#807050;padding:2px 25px 2px 10px;text-decoration:none;color:#FFF;}
.clkitem img{position:absolute;margin:14px 0px 0px 5px;}
.bt, .bt_dis{cursor:pointer;width:195px;line-height:25px !important;background:#807050;}
.bt{color:#FFF;}
.bt_dis, .tx_dis{color:#B5A67E;}
.bt_s{width:auto;padding:0px 10px;}
.bdiv{width:1024px;margin:auto;}
.top{height:90px;background:#FFF;}
.top .logo{margin:20px 40px;}
.top .slog{margin:35px 0px;}

.top .htel{float:right;margin:25px 0px;}
.top .adow{float:right;margin-left:15px;cursor:pointer}

.tbanner{box-shadow:0px 0px 20px #333 inset;}
.infodiv{background:#FFF;position:absolute;padding:5px 10px;width:380px;height:90px;margin:60px;opacity:0.5;border-radius:5px;box-shadow:3px 3px 10px #333;z-index:999;}
.infodiv h2{margin:10px;float:left;color:#006155;}
.infodiv h5{margin:5px 10px;float:right;color:#006155;}

.infotext {position:absolute;margin:120px 0px 0px 80px;z-index:1000;width:360px;}
.infotext h1{font-size:40px;color:#006155;position:absolute;margin:-10px 0px 0px 200px;}
.infotext h4{font-size:15px;float:left;margin:0 20px 0 0;}
.infotext h5{font-size:15px;float:right;margin:0px;}

.tind{height:36px;background:#FFF;font-weight:bold;font-size:17px;padding-top:15px;}
.tind a{color:#B5A67E;float:left;padding:3px 12px;margin:0px 2px 0px 0px;text-decoration:none;border-top-left-radius:5px;border-top-right-radius:5px;}
.tind .uind{position:absolute;font-size:14px;font-weight:normal;margin-left:710px;margin-top:3px;}
.tind .uind a{padding:0px;margin:0px 10px;text-decoration:underline;float:none;}
.cont{background:#EBE7DD;padding:10px 0px;}
.cont1{background:#EBE7DD;border-bottom:5px solid #EBE7DD;border-top:25px solid #EBE7DD;}
.content{width:960px;margin:15px auto;}
.contlist{width:960px;border:2px solid #FFF;margin:10px auto;border-radius:5px;}
.contlist div{border-bottom:1px solid #FFF;margin:10px;height:30px;padding:0px 20px;color:#333;font-size:15px;}
.contlist div b{float:left;margin-right:10px;}
.contlist div a{float:right;text-decoration: none;background:#FFF;padding:0px 10px;}
.contlist h4{font-size:15px;margin:0px 0px 10px 30px;}
.contlist h4 a{margin-left:20px;}
.contlist h5{float:right;margin:-40px 35px 0px 0px;}

.contlist_l,.contlist_r{width:45%;border:2px solid #FFF;border-radius:5px;margin-bottom:30px;}
.contlist_l{margin-left:32px;}
.contlist_r{float:right;margin:-286px 32px 0px 0px;}
.contlist_l h3, .contlist_r h3{margin:10px 0px 0px 10px;}
.contlist_l h5, .contlist_r h5{float:right;margin:-30px 10px 0px 0px;}
.citem{background:#FFF;border-radius:5px;margin:10px;padding:10px 0px;}
.citem div{margin:3px 10px;padding:0px 10px;border-bottom:1px solid #EBE7DD;}
.citem div a{text-decoration:none;}
.citem_bt{border:0px !important;}

.left_ind{float:left;width:220px;padding-top:30px;;}
.left_ind div{text-decoration: none;font-weight:bold;font-size:18px;color:#FFF !important;}
.left_ind div{border-bottom:2px solid #FFF;margin:0px 0px 0px 35px;padding:10px 55px;}
.left_ind .hot{background:#FFF;border-top-left-radius:5px;border-bottom-left-radius:5px;margin-top:-5px;}
.left_ind .hot{color:#006155 !important;}
.left_ind a{text-decoration:none;}
.right_co{background:#FFF;width:699px;margin-left:220px;min-height:500px;padding:50px 50px 30px 50px;border-radius:5px;}
.right_co hr{position:absolute;width:695px;border:2px solid #EBE7DD;}
.coitem{line-height:25px;border-top:1px solid #EBE7DD;padding:10px;}
.coitem_f{float:left;width:120px;font-size:14px;color:#999;}
.coitem a, .right_pg a{text-decoration:none;}
.right_pg{text-align:center;position:absolute;margin:-70px 0px 0px 270px;width:700px;padding-top:10px;border-top:4px solid #EBE7DD;}
.right_pg a{margin:5px;padding:3px 10px;border:1px solid #DBD6C8;}
.right_pg .hot{background:#DBD6C8;}
.right_t{position:absolute;margin:-30px 0px 0px 600px;font-size:14px;color:#999;}
.right_tit{margin:50px;width:600px;text-align:center;font-size:20px;font-weight:bold;}
.right_cont, .right_sub{margin:0px 50px 50px 50px;font-size:15px;}
.right_cont{color:#333;}
.right_cont img{max-width:600px;clear:both;}
.right_sub{border:1px dashed #999;border-radius:5px;padding:20px;background:#EBE7DD;font-weight:bold;}


.bot{background:#FFF;color:#B5A67E;}
.help{padding:20px 0px;height:150px;}
.help div{float:left;margin:0px 55px;font-weight:bold;}
.help div a{float:left;clear:both;font-weight:normal;color:#B5A67E;}
.ap{width:110px;height:110px;float:right;margin:0px 20px !important;text-align:center;}
.ap img{background:#DBD6C8;width:100px;height:100px;}
.cp{width:95%;height:120px;margin:auto;border-top:2px solid #DBD6C8;font-size:12px;}
.cp .ba{float:right;}
.inp{width:600px;border:3px double #EFEFEF;margin:90px auto;text-align:center;padding:30px 0px;}
.inp .tit{position:absolute;color:#FFF;margin-top:-70px;width:600px;}
.inp .tit h2{float:right;margin:0px;}
.inp .tit a{float:left;}
.inp input{margin:10px auto;}
.inp hr{border:1px dashed  #EFEFEF;width:95%;margin:30px auto;}

.reg{text-align:left;margin-left:80px;}
#licepho{position:absolute; width:90px;height:90px;}

.pboard{width:500px;height:90px;background:#B5A67E;border:2px solid #EFEFEF;color:#E5E0D2;}
.pboard b{color:#FFF;margin:0px 5px;}
.pboard h2{margin:10px 0px 0px 20px;}
.pboard h5{float:right;margin:-35px 20px 0px 0px;font-weight:normal;}
.pboard h4{margin:10px 0px 0px 20px;font-weight:normal;}
.pboard h1{float:right;color:#FFF;margin:-40px 80px 0px 0px;font-size:45px;font-weight:normal;}

.uboard{width:400px;height:90px;float:right;margin-top:-90px;}
.uboard h3{margin:8px 0px;font-weight:normal;}
.uboard div{float:right;margin-top:-95px;}
.uboard img{float:right;clear:both;margin:10px;}

.list_item{padding:20px 20px 0px 20px;border-bottom:2px solid #FFF;}
.list_item a{font-weight:bold;}
.list_item .item{float:right;}
.list_item .item a{text-decoration:none;color:#999;float:right;background:#EFEFEF;padding:0px 20px;margin:0px 5px;}
.list_item .item .hot{background:#FFF;color:#807050;}
.list_item label{font-size:20px;font-weight:bold;}

.list{background:#FFF;padding:20px;}
.list table{width:100%;font-size:14px;line-height:45px;border-collapse:collapse;color:#333;border-top:5px double #DBD6C8;border-bottom:5px double #DBD6C8;}
.list td{border-top:1px solid #DBD6C8;}
.list td a{font-weight:bold;text-decoration:none;}
.list th {background:#F0ECE1;text-align:left;border-top:2px solid #FFF;}
.list .hotdiv{background:#807050;padding:20px;color:#FFF;}
.list .selc{cursor:pointer;}

.tdlock{width:450px;line-height:25px;}
.tdright{text-align:right !important;padding-right:20px;}
.list .hot{color:#990000;}
.list .cool{color:#999;}
.list label{color:#990000;font-size:16px;}
.list th label{color:#807050;}
.list th label b{color:#990000;}
.list .cool label{color:#999;}
.list_page{text-align:center;margin:30px 0px;}
.list_page a{margin:5px;padding:0px 8px;border:1px solid #CCC;text-decoration:none;}
.list_page .hot{background:#807050;color:#FFF;}

.w40{width:40px;}
.w60{width:60px;}
.w90{width:90px;}
.w120{width:120px;}
.w150{width:150px;}
.w180{width:180px;}
.t-r{text-align:right;}
.t-l{text-align:left;}


#show_img{max-height: 200px;max-width: 200px;}
#t_file{display:none;}
.current{margin:5px;padding:0px 8px;border:1px solid #CCC;text-decoration:none; background:#807050;color:#FFF;}
.t_address {cursor:pointer;font-size:14px;}
