<include file="public/head" />
<script type="text/javascript">
    pSet('3');
    onload = function(){cpay();}
    function cpri(cval){
        var epri = eval(document.getElementById('rpri').innerText.replace(',', ''))-20;
        var pri1 = eval(document.getElementById('pri1').innerText.replace(',', ''));
        var npri = pri1+(cval*5);
        if(npri<epri) {
            alert('报价下限不得低于市场价格合理范围。');

        }else{
            document.getElementById('pri1').innerText =  i2s3(npri);
            document.getElementById('f_pric').value = i2s3(npri);
        }
        cpay();
    }

    function cpay(){
        var pri1 = eval(document.getElementById('pri1').innerText.replace(',', ''));
        var weig = document.getElementById('sweight').value;
        var opay = pri1*weig*{$Think.config.OFFER_PAY};
        var spay = weig*{$Think.config.OFFER_SER} ;
        document.getElementById('opay').innerText = i2s3(opay);
        document.getElementById('spay').innerText = i2s3(spay);
    }
    function i2s3(intval){
        var reStr = '';
        var strval = String(intval).split('.');
        var ilen = strval[0].length;
        var slen = ilen%3;
        var tlen = parseInt(ilen/3);
        var tsum = 0;
        if (slen>0) {
            reStr = strval[0].substr(0,slen);
            tsum = slen;
        }
        for(var i=0;i<tlen;i++){
            if(reStr==''){
                reStr = strval[0].substr(tsum,3);
            }else{
                reStr += ','+strval[0].substr(tsum,3);
            }
            tsum += 3;
        }
        if(strval.hasOwnProperty(1)) reStr += '.'+strval[1];
        return reStr ;
    }
</script>

<div class="bdiv cont">
    <div class="content">
        <div class="list_item">
            <label>:: 预约购买提交 ::</label>　　
        </div>
        <div class="list">
            <<a href="javascript:;" onClick="javascript:history.back(-1);">返回</a>>
            <table>
                <tr>
                    <td width="30"></td>
                    <td colspan="2">
                        品名：
                        <select name="gc_id">
                            <volist name="class" id="vo">
                                <option value="{$vo.gc_id}">{$vo.gc_name}</option>
                            </volist>
                        </select>　 　
                        年份：
                        <select name="gy_id">
                            <volist name="year" id="vo">
                                <option value="{$vo.gy_id}">{$vo.gy_id}</option>
                            </volist>
                        </select>
                        　 　
                        产地：
                        <select id="c_province" name="c_province">
                            <volist name="province" id="vo">
                                <option value="{$vo.id}">{$vo.areaName}</option>
                            </volist>
                        </select>
                        <select id="c_city" name="c_city">
                            <volist name="city" id="vo">
                                <option value="{$vo.id}">{$vo.areaName}</option>
                            </volist>
                        </select>
                        <select id="c_area" name="c_area">
                            <volist name="area" id="vo">
                                <option value="{$vo.id}">{$vo.areaName}</option>
                            </volist>
                        </select>
                        　 　
                        等级：
                        <select name="gl_id">
                            <volist name="level" id="vo">
                                <option value="{$vo.gl_id}">{$vo.gl_name}</option>
                            </volist>
                        </select>
                        　 　
                        容重：
                        <select name="gr_id">
                            <volist name="rz" id="vo">
                                <option value="{$vo.gr_id}">{$vo.gr_name}</option>
                            </volist>
                        </select>
                        g/l
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td width="500">预购单价：
                        <input class="bt inpss" value="-" type="button" onclick="cpri(-1);"/>
                        <label id="pri1">1,700</label>
                        <input type="hidden" name="f_pric" id="f_pric" value="1700">
                        <input class="bt inpss" value="+" type="button" onclick="cpri(1);"/> 元/吨</td>
                    <td>今日市场参考价：<br/><label class="fontbig" id="rpri">1,700</label> 元/吨</td>
                </tr>
                <tr>
                    <td></td>
                    <td>预购重量：<input name="f_weig" id="sweight" class="inpsm" value="" type="text" onchange="cpay();"/> 吨</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>需缴预约金：<label id="opay">0</label> 元 （预约成功后，将直接转为货款)</td>
                    <td>需缴服务费：<label id="spay">0</label> 元 （预购货款的{$Think.config.OFFER_PAY_SHOW}）</td>
                </tr>
                <tr>
                    <th></th>
                    <th colspan="2">预约购粮，不代表能立即成交，需等待平台运营人员协调资源后，方可回复是否能够转正式订单。</th>
                </tr>
            </table>
        </div>
        <<a href="viewcont.php">预览预购要约</a>>　　　　
 <input name="contract" type="checkbox" class="bt_s"/>我已阅读并了解要约详细内容，同意签属并确认其法律效力。
        <div class="list_page">
            <input class="bt bt_s" id="t_submit" value="正式提交预购" type="button"/>
        </div>
    </div>
</div>

<script type="text/javascript" src="/Public/bootstrap/js/jquery.min.js"></script>
<script type="text/javascript" src="/Public/bootstrap/js/t_submit.js"></script>
<script type="text/javascript">
    t_submit('/Home/Offer/ajaxAddOffer');
</script>
<script type="text/javascript" src="/Public/js/cz_address.js" ></script>
<include file="public/foot" />