<include file="public/head" />
<script type="text/javascript">
    pSet('3');
    onload = function(){cpay();}

    function cpay(){
        var spric = document.getElementById('spric').value;
        var weig = document.getElementById('sweight').value;
        var opay = spric*weig*{$Think.config.OFFER_PAY};
        var spay = weig*{$Think.config.OFFER_SER} ;
        document.getElementById('opay').innerText = i2s3(opay);
        document.getElementById('spay').innerText = i2s3(spay);
    }
    function i2s3(intval){
        var reStr = '';
        var strval = String(intval).split('.');
        var ilen = strval[0].length;
        var slen = ilen%3;
        var tlen = parseInt(ilen/3);
        var tsum = 0;
        if (slen>0) {
            reStr = strval[0].substr(0,slen);
            tsum = slen;
        }
        for(var i=0;i<tlen;i++){
            if(reStr==''){
                reStr = strval[0].substr(tsum,3);
            }else{
                reStr += ','+strval[0].substr(tsum,3);
            }
            tsum += 3;
        }
        if(strval.hasOwnProperty(1)) reStr += '.'+strval[1];
        return reStr ;
    }
</script>

<div class="bdiv cont">
    <div class="content">
        <div class="list_item">
            <label>:: 预约购买提交 ::</label>　　
        </div>
        <div class="list">
            <<a href="javascript:;" onClick="javascript:history.back(-1);">返回</a>>
            <table>
                <tr>
                    <td width="30"></td>
                    <td colspan="2">
                        品名：
                        <select name="gc_id">
                            <volist name="class" id="vo">
                                <option value="{$vo.gc_id}">{$vo.gc_name}</option>
                            </volist>
                        </select>　 　
                        等级：
                        <select name="gl_id">
                            <volist name="level" id="vo">
                                <option value="{$vo.gl_id}">{$vo.gl_name}</option>
                            </volist>
                        </select>　 　
                        年份：
                        <select name="gy_id">
                            <volist name="year" id="vo">
                                <option value="{$vo.gy_id}">{$vo.gy_id}</option>
                            </volist>
                        </select>　 　
                        产地：
                        <select id="c_province" name="c_province">
                            <volist name="c_province" id="vo">
                                <option value="{$vo.id}">{$vo.areaName}</option>
                            </volist>
                        </select>
                        <select id="c_city" name="c_city">
                            <volist name="c_city" id="vo">
                                <option value="{$vo.id}">{$vo.areaName}</option>
                            </volist>
                        </select>
                        <select id="c_area" name="c_area">
                            <volist name="c_area" id="vo">
                                <option value="{$vo.id}">{$vo.areaName}</option>
                            </volist>
                        </select>　 　
                        容重：<input type="text" class="inpsm" id="rzprice" name="rz"/>g/l
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td width="500">
                        预购单价：<input type="text" name="f_pric" id="spric" class="inpsm" value="0" onchange="cpay();"> 元/吨　 　
                        预购重量：<input type="text" name="f_weig" id="sweight" class="inpsm" value="0" onchange="cpay();"/> 吨
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>需缴预约金：<label id="opay">0</label> 元 （货款的{$Think.config.OFFER_PAY_SHOW}。预约成功后，将直接转为货款首付 )</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>需缴服务费：<label id="spay">0</label> 元 （{$Think.config.OFFER_SER} 元/吨 )</td>
                    <td></td>
                </tr>
                <tr>
                    <th></th>
                    <th colspan="2">预约购粮，不代表能立即成交，需等待平台运营人员协调资源后，方可回复是否能够转正式订单。</th>
                </tr>
            </table>
        </div>
        <<a href="viewcont.php">预览预购要约</a>>　　　　
 <input name="contract" type="checkbox" class="bt_s"/>我已阅读并了解要约详细内容，同意签属并确认其法律效力。
        <div class="list_page">
            <input class="bt bt_s" id="t_submit" value="正式提交预购" type="button"/>
        </div>
    </div>
</div>

<include file="public/foot" />
<script type="text/javascript" src="/Public/bootstrap/js/jquery.min.js"></script>
<script type="text/javascript" src="/Public/bootstrap/js/t_submit.js"></script>
<script type="text/javascript">
    t_submit('/Home/Offer/ajaxAddOffer');
</script>
<script type="text/javascript" src="/Public/js/cz_address.js" ></script>
<script type="text/javascript" src="/Public/js/offReferPrice.js" ></script>
