<include file="public/head" />
<script type="text/javascript">
    pSet('3');
</script>

<div class="bdiv cont">
    <div class="content">
        <div class="list_item">
            <label>:: 预约单：{$info.f_code}-[{$info.f_status|getOfferStatus}] ::</label>　<<a href="javascript:;" onClick="javascript:history.back(-1);">返回</a>>　　
            {$info|getOfferShow=6}
        </div>
        <div class="list">
            <table>
                <tr>
                    <td width="30"></td>
                    <td colspan="2">品名：{$info.f_name}　 　 年份：{$info.f_year}　 　 产地：{$info|getCAddress}　 　 等级：{$info.f_level}　 　 容重：{$info.f_rz}g/l</td>
                </tr>
                <tr>
                    <td></td>
                    <td width="500">预购单价：{$info.f_pric|formatMoney} 元/吨</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>预购重量：{$info.f_weig} 吨</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>{$info|getOfferShow=2}付预约金：<label>{$info.f_pay|formatMoney}</label>元</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>{$info|getOfferShow=3}付服务费：<label>{$info.f_service_price|formatMoney}</label>元</td>
                    <td></td>
                </tr>
                <tr>
                    <th></th>
                    <th colspan="2">{$info|getOfferShow=4}</th>
                </tr>
            </table>
        </div>
        <div class="list_page">
            {$info|getOfferShow=5}
            <input type="hidden" id="f_id" value="{$info.f_id}" />
        </div>
    </div>
</div>
<include file="public/foot" />
<script type="text/javascript" src="/Public/bootstrap/js/jquery.min.js"></script>
<script type="text/javascript">
    function disp_confirm()
    {
        var r=confirm("您确定要取消预购么?")
        if (r==true)
        {
            var f_id = $("#f_id").val();
            $.ajax({
                type: 'POST',
                url: '/Home/Offer/del',
                data: 'f_id='+f_id,
                dataType: 'json',
                timeout: 10000,
                success: function(data){
                    if(data.url) {
                        window.location.href = data.url ;
                    }
                    else {
                        alert(data.msg);
                    }
                },
                error: function(xhr, type){
                    alert('抱歉,加载失败!');
                }
            })
        }
    }
</script>