<include file="public/head" />
<script type="text/javascript">
    pSet('2');
</script>
<div class="bdiv cont">
    <div class="content">
        <div class="list">
            <table>
                <tr>
                    <th width="30"></th>
                    <th colspan="2">品名：　　
                        <select class="gc_id" name="gc_id">
                            <volist name="class" id="vo">
                                <option <if condition="$vo.gc_id eq $_GET['gc_id']">selected</if> value="{$vo.gc_id}">{$vo.gc_name}</option>
                            </volist>
                        </select></th>
                    <th colspan="7">等级：　　
                        <select class="gl_id" name="gl_id">
                            <volist name="level" id="vo">
                                <option <if condition="$vo.gl_id eq $_GET['gl_id']">selected</if> value="{$vo.gl_id}">{$vo.gl_name}</option>
                            </volist>
                        </select>
                    </th>
                </tr>
                <tr>
                    <th></th>
                    <th colspan="9">年份：　　
                        <label class="hotitem"><a href="/Home/Sell/sellBillList">全部</a></label>　　
                        <volist name="year" id="vo">
                            <a href="/Home/Offer/offerList/gy_id/{$vo.gy_id}">{$vo.gy_id}</a>　　
                        </volist>
                        <a href="/Home/Sell/sellBillList">其他</a>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <th colspan="9">产地：　　
                        <label class="hotitem"><a href="/Home/Sell/sellBillList">全部</a></label>　　
                        <volist name="place" id="vo">
                            <a href="/Home/Offer/offerList/gp_id/{$vo.gp_id}">{$vo.gp_name}</a>　　
                        </volist>
                        <a href="/Home/Sell/sellBillList">其他</a>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <th colspan="9">排序：　　
                        <a href="/Home/Offer/offerList/order/b_rz" class="clkitem">容重<img src="/Public/fu/img/ob_a.png"></a>　　
                        <a href="/Home/Offer/offerList/order=b_weig" class="clkitem">净重<img src="/Public/fu/img/ob_a.png"></a>　　
                        <a href="/Home/Offer/offerList/order=b_pri1" class="clkitem">单价<img src="/Public/fu/img/ob_a.png"></a>　　
                        <a href="/Home/Offer/offerList/order=b_stime" class="clkitem">上架时间<img src="/Public/fu/img/ob_a.png"></a>　　
                    </td>
                </tr>
                <volist name="info.list" id="vo">
                <tr onmouseover="this.style['background']='#F0ECE1';"  onmouseout="this.style['background']='#FFF';">
                    <td></td>
                    <td width="60"><b>求购:</b></td>

                    <td width="110">容重：{$vo.f_rz}g/l</td>
                    <td width="110">净重：{$vo.f_weig}吨</td>
                    <td width="100">{$vo.f_pric}元/吨</td>
                    <td width="200">{$vo.f_ctime|date='Y年m月d日 H:i:s',###}</td>
                    <td>{$vo.f_name}</td>
                    <td>{$vo.f_year}年</td>
                    <td>{$vo.f_place}</td>
                    <td>{$vo.f_level}</td>

                    <td width="100"><a href="#"><我有粮源></a></td>
                </tr>
                </volist>
            </table>
            <div class="list_page">
              {$info.page}
            </div>
        </div>
    </div>
</div>
<include file="public/foot" />
<script type="text/javascript" src="/Public/bootstrap/js/jquery.min.js"></script>
<script type="text/javascript">
    $(".gc_id").on('change', function(){
        window.location.href = "/Home/Offer/offerList/gc_id/" + $(this).val() ;
    });
    $(".gl_id").on('change', function(){
        window.location.href = "/Home/Offer/offerList/gl_id/" + $(this).val() ;
    });
</script>