<include file="public/head" />
<script type="text/javascript">
    pSet('3');
</script>

<div class="bdiv cont">
    <div class="content">
        <div class="list_item">
            <label>:: 预约单：{$info.f_code}-[{$info.f_status|getOfferStatus}] ::</label>　　　<<a href="javascript:;" onClick="javascript:history.back(-1);">返回</a>>
        </div>
        <div class="list">
            <table>
                <tr>
                    <td width="30"></td>
                    <td colspan="2">品名：{$info.f_name}　 　 年份：{$info.f_year}　 　 产地：{$info.f_place}　 　 等级：{$info.f_level}　 　 容重：{$info.f_rz}g/l</td>
                </tr>
                <tr>
                    <td></td>
                    <td width="500">预购单价：{$info.f_pric} 元/吨</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>预购重量：{$info.f_weig} 吨</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td>需缴预约金：<label>{$info.f_pay}</label> 元 (待支付)</td>
                    <td>需缴服务费：<label>1,700</label> 元 (待支付)</td>
                </tr>
                <tr>
                    <th></th>
                    <th colspan="2">支付预约金与服务费后，预约单立即生效。<br/>生效后，因您的原因取消预约单，服务费将不退还。因平台原因取消，则退还全部费用。</th>
                </tr>
            </table>
        </div>
        <div class="list_page">
            <input class="bt bt_s" onclick="disp_confirm()" value="取消预购" type="button"/>
            <input type="hidden" id="f_id" value="{$info.f_id}" />
        </div>
    </div>
</div>
<include file="public/foot" />
<script type="text/javascript" src="/Public/bootstrap/js/jquery.min.js"></script>
<script type="text/javascript">
    function disp_confirm()
    {
        var r=confirm("您确定要取消预购么?")
        if (r==true)
        {
            var f_id = $("#f_id").val();
            $.ajax({
                type: 'POST',
                url: '/Home/Offer/del',
                data: 'f_id='+f_id,
                dataType: 'json',
                timeout: 10000,
                success: function(data){
                    if(data.url) {
                        window.location.href = data.url ;
                    }
                    else {
                        alert(data.msg);
                    }
                },
                error: function(xhr, type){
                    alert('抱歉,加载失败!');
                }
            })
        }
    }
</script>