<include file="public/head" />
<script type="text/javascript" src="/Public/js/address.js"></script>
注册页面
<form action="/Home/Index/register/" method="post">
    <p>姓名: <input type="text" name="name" /></p>
    <p>电话: <input type="text" name="mobile" /></p>
    <p>密码: <input type="text" name="password" /></p>


<hr/>

    <p>营业执照：    <input type="file" id="fileinput" class="inputfile" multiple accept="image/*;">
        <img id="showimg" src="" alt="">
    </p>
    <p>公司名称 <input type="text" name="company_name" /></p>
    <p>联系地址:

        <select id="cmbProvince" name="cmbProvince"></select>
        <select id="cmbCity" name="cmbCity"></select>
        <select id="cmbArea" name="cmbArea"></select>
    </p>
    <p>详细地址: <input type="text" name="address" /></p>
    <input type="submit" value="注册" />
</form>

<script type="text/javascript" src="/Public/js/upload.js"></script>
<script type="text/javascript">
    addressInit('cmbProvince', 'cmbCity', 'cmbArea');
</script>

<include file="public/foot" />