<include file="public/head" />
<script type="text/javascript">
    onload = function(){iSet();}
    function iSet(){
        var eventdx = document.getElementsByTagName('input');
        var total = eval(document.getElementById('total').innerText.replace(',', ''));
        var npay = 0;
        var epay = 0;
        var pay = 0;
        for (var i=0;i<eventdx.length;i++){
            if(eventdx[i].name=='payment' && eventdx[i].checked){
                if(eventdx[i].value=='1'){
                    document.getElementById('tr20pay').style['display'] = 'none';
                    npay = Math.round(total*100)/100;
                }else{
                    document.getElementById('tr20pay').style['display'] = '';
                    npay = Math.round(total*{$user|getLevFPay} * 100) /100;
                    epay = total-npay;
                    var dinte = eval(document.getElementById('dinte').innerText);
                    document.getElementById('epay').innerText = i2s3(epay);
                    document.getElementById('epayi').innerText = i2s3(epay);
                    var dipay = Math.round(epay*dinte/365 * 100) / 100;
                    document.getElementById('dipay').innerText = i2s3(dipay);
                }
            }
            document.getElementById('npay').innerText = i2s3(npay);
            if(eventdx[i].name=='recmode' && eventdx[i].checked){
                if(eventdx[i].value=='1'){
                    var freight = eval(document.getElementById('freight').innerText.replace(',', ''));
                    document.getElementById('trRadd').style['display'] = '';
                    //document.getElementById('trRcon').style['display'] = '';
                    document.getElementById('tr1info').style['display'] = '';
                    document.getElementById('tr2info').style['display'] = 'none';
                    pay = npay+freight;
                }else{
                    document.getElementById('trRadd').style['display'] = 'none';
                    //document.getElementById('trRcon').style['display'] = 'none';
                    document.getElementById('tr1info').style['display'] = 'none';
                    document.getElementById('tr2info').style['display'] = '';
                    pay = npay;
                }
            }
            document.getElementById('pay').innerText = i2s3(pay);
        }
    }
    function i2s3(intval){
        var reStr = '';
        var strval = String(intval).split('.');
        var ilen = strval[0].length;
        var slen = ilen%3;
        var tlen = parseInt(ilen/3);
        var tsum = 0;
        if (slen>0) {
            reStr = strval[0].substr(0,slen);
            tsum = slen;
        }
        for(var i=0;i<tlen;i++){
            if(reStr==''){
                reStr = strval[0].substr(tsum,3);
            }else{
                reStr += ','+strval[0].substr(tsum,3);
            }
            tsum += 3;
        }
        if(strval.hasOwnProperty(1)) reStr += '.'+strval[1];
        return reStr ;
    }
</script>

<div class="cont">
    <div class="tit"><a href="javascript:;" onClick="javascript:history.back(-1);"><返回修改</a>订单结算</div>
    <hr>

    <foreach name="list" item="vo">
        <div class="bill_info">
            <label>{$vo.b_name}</label>
            <label>{$vo.b_year}</label>
            <label>{$vo|getCAddress}</label>
            <label>{$vo.b_level}</label>
            <label>{$vo.b_pri1|formatMoney}元/吨</label>
            <label>{$vo.bill_item|count}组({$vo.bill_item|array_column='bi_sum'|array_sum}箱　净重{$vo.bill_item|array_column='bi_nwei'|array_sum}吨)</label>
            <label>合计：{$vo.bill_item|array_column='bi_dpay'|array_sum|formatMoney}元</label>
        </div>
    </foreach>


    <div class="bill_item">货款合计：<label><b id="total">{$all_price|formatMoney}</b> 元</label></div>
    <div class="bill_item">
        <table>
            <tr>
                <td width="80">付款方式：</td>
                <td><input type="radio" name="payment" class="bt_s" value="{$user|getLevFPay}" checked onclick="iSet();" />{$user|getLevFPayShow}</td>
            </tr>
            <tr>
                <td></td>
                <td><input type="radio" name="payment" class="bt_s" value="1" onclick="iSet();"/>全款</td>
            </tr>
            <tr id="tr20pay">
                <td colspan="2" class="tdright">尾款：<label><b id="epay">0</b> 元</label><br/>* 到岸支付尾款，尾款计息，按实际天数收取。<br/>(<b id="epayi">0</b>x<b id="dinte">{$Think.config.BUY_RATE}</b>年利率 / 365)=日利息：<b id="dipay">0</b>元
                </td>
            </tr>
        </table>
    </div>
    <div class="bill_item">即付货款：<label><b id="npay">0</b> 元</label></div>
    <div class="bill_item">
        <table>
            <tr>
                <td width="80">收货方式：</td>
                <td>
                    <input type="radio" name="recmode" class="bt_s" value="1" checked  onclick="iSet();"/>送货到门　　
                    <input type="radio" name="recmode" class="bt_s" value="2"  onclick="iSet();"/>自行提货</td>
            </tr>
            <tr id="tr1info">
                <td></td>
                <td>沈阳(3车)运费：<label><b id="freight">3,600</b> 元</label></td>
            </tr>
            <tr id="tr2info">
                <td></td>
                <td>* 提货即视为确认收货</td>
            </tr>
        </table>
        <table id="trRadd">
            <tr>
                <td width="80">收货地址：</td>
                <td>
                    <select id="cmbProvince" name="province">
                        <option value="">{$user.province}</option>
                        <volist name="province" id="vo">
                            <option value="{$vo.id}">{$vo.areaName}</option>
                        </volist>
                    </select>
                    <select id="cmbCity" name="city">
                        <option value="">{$user.city}</option>
                    </select>
                    <select id="cmbArea" name="area">
                        <option value="">{$user.area}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input name="address" value="{$user.address}" type="text"/></td>
            </tr>
        </table>
        <table id="trRcon">
            <tr>
                <td width="80">　联系人：</td>
                <td><input name="user_name" value="{$user.real_name}" type="text"/></td>
            </tr>
            <tr>
                <td>　手机号：</td>
                <td><input name="mobile" value="{$user.mobile}" type="text"/></td>
            </tr>
        </table>
    </div>
    <div class="bill_item">提交后需付款：<label><b id="pay">0</b> 元</label></div>
</div>
<div class="cont">
    <input type="hidden" name="bi_id_str" value="{$_GET['bi_id_str']}">
    <<a href="viewcont.php">预览购买合同</a>><br/><input name="contract" type="checkbox" class="bt_s"/> 我已阅读并了解合同详细内容，同意签属并确认其法律效力。
    <hr>
    <input class="bt bt_s" id="t_submit" value="正式提交订单" type="button"/>
</div>
<include file="public/foot" />

<script type="text/javascript" src="/Public/bootstrap/js/jquery.min.js"></script>
<script type="text/javascript" src="/Public/js/address.js" ></script>
<script type="text/javascript" src="/Public/bootstrap/js/t_submit.js"></script>
<script type="text/javascript">
    t_submit('/Wap/Order/add');
</script>