<div class="bdiv bot">
    <div class="help">
        <div>
            会员帮助<br/>
            <a href="{$Think.config.WWW_URL}/help/member.php">会员规章</a>
            <a href="{$Think.config.WWW_URL}/help/apro.php">操作流程</a>
        </div>
        <div>
            交易帮助<br/>
            <a href="{$Think.config.WWW_URL}/help/trade.php">交易规则</a>
            <a href="{$Think.config.WWW_URL}/help/bpro.php">买粮流程</a>
            <a href="{$Think.config.WWW_URL}/help/spro.php">卖粮流程</a>
        </div>
        <div>
            关于我们<br/>
            <a href="{$Think.config.WWW_URL}/about/about.php">平台介绍</a>
            <a href="{$Think.config.WWW_URL}/about/service.php">服务介绍</a>
            <a href="{$Think.config.WWW_URL}/about/partner.php">合作伙伴</a>
        </div>
        <div>
            客户服务<br/>
            <a href="{$Think.config.WWW_URL}/help/help.php">客服电话</a>
            <a href="{$Think.config.WWW_URL}/help/help.php#submit">意见反馈</a>
        </div>
<!--        <div class="ap" style="margin-left:160px !important;">
            <img src=""/>iOS
        </div>-->
        <div class="ap" style="margin-left:160px !important;">扫描下载APP
            <img src="{$Think.config.WWW_URL}/img/ercode.png"/>
        </div>
    </div>

    <div class="cp">
        &copy;2018 Copyrights By LIANGBANG.COM & All rights reserved
        <div class="ba">辽ICP备 1101101</div>
    </div>
</div>
</body>
</html>