<include file="public/head" />
<script type="text/javascript">
    pSet('3');
</script>

<div class="bdiv cont">
    <div class="content">
        <div class="list_item">
            <label>:: 货单号：S101101101 ::</label>　　<<a href="javascript:;" onClick="javascript :history.back(-1);">返回</a>>
        </div>
        <div class="list">
            货组编号：2121213 - <label>[已售-待付结算费用]</label>
            <table>
                <tr>
                    <th width="30" rowspan="2"></th>
                    <th rowspan="2" width="110"><img src="" width="80" height="80"/><br/></th>
                    <th rowspan="2" width="110"><img src="" width="80" height="80"/><br/></th>
                    <th>箱号：315112</th>
                    <th width="30" rowspan="2"></th>
                    <th rowspan="2" width="110"><img src="" width="80" height="80"/><br/></th>
                    <th rowspan="2" width="110"><img src="" width="80" height="80"/><br/></th>
                    <th>箱号：315213</th>
                </tr>
                <tr>
                    <th>封号：865231</th>
                    <th>封号：865398</th>
                </tr>
                <tr>
                    <th></th>
                    <th colspan="7">封箱: 2箱　　　毛重: 60吨　　　皮重: 10吨　　　净重: 50吨　　　货款：84,500元(1,690元/吨)　　　<a href=""><下载装货视频></a></th>
                </tr>
            </table>
            <table>
                <tr>
                    <td></td>
                    <td>物流信息：</td>
                    <td>2018年7月10日  09:12:23 [装车]</td>
                    <td colspan="2"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>入港时间：</td>
                    <td width="220">2018年7月10日  12:20:55</td>
                    <td width="90">入港名称：</td>
                    <td>锦州港</td>
                </tr>
                <tr>
                    <td width="30"></td>
                    <td width="90">上架时间：</td>
                    <td colspan="3">2018年7月11日  10:12:32</td>
                </tr>
                <tr>
                    <td width="30"></td>
                    <td width="90">成交时间：</td>
                    <td colspan="3">2018年7月15日  11:55:12 (在售5天)</td>
                </tr>
            </table>
            <table>
                <tr>
                    <th width="30"></th>
                    <th width="90">待结回款：</th>
                    <th width="300"><label>85,000</label> 元</th>
                    <th width="90">待付利息：</th>
                    <th><label><b>85</b></label> 元 (回款85000元 x 日利率0.0002 x 在售5天)</th>
                </tr>
                <tr>
                    <th></th>
                    <th>待补跌价：</th>
                    <th><label><b>500</b></label>元 (回款85000元-成交货款84500元)</th>
                    <th>待退保证金：</th>
                    <th><label><b>17,000</b></label>元 (付清结算费用后，即退。)</th>
                </tr>
            </table>
        </div>
    </div>
</div>

<include file="public/foot" />