<include file="public/head" />
<h1><p>在售粮源</p></h1>

<p>品名： <select name="gc_id">
    <volist name="class" id="vo">
        <option value="{$vo.gc_id}">{$vo.gc_name}</option>
    </volist>
</select>
</p>

<p>等级：
    <select name="gl_id">
        <volist name="level" id="vo">
            <option value="{$vo.gl_id}">{$vo.gl_name}</option>
        </volist>
    </select>
</p>

<p>产地：
    <select name="gp_id">
        <volist name="place" id="vo">
            <option value="{$vo.gp_id}">{$vo.gp_name}</option>
        </volist>
    </select>
</p>

<p>容重：
    <select name="gr_id">
        <volist name="rz" id="vo">
            <option value="{$vo.gr_id}">{$vo.gr_name}</option>
        </volist>
    </select>
</p>

<p>出产年份 ：
    <select name="gy_id">
        <volist name="year" id="vo">
            <option value="{$vo.gy_id}">{$vo.gy_id}</option>
        </volist>
    </select>
</p>

<button id="t_search">查找粮源  --  粮源搜索按钮</button>

<script type="text/javascript" src="/Public/bootstrap/js/jquery.min.js"></script>
<script type="text/javascript">
    $("#t_search").on('click tap',function() {
        // 获取所有input数组
        var data = '';
        $(":input").each(function () {
            var key = $(this).attr('name');
            var val = $(this).val();
            if (key && val) {
                data = data + key + "=" + val + "&";
            }
        });

        window.location.href = "/Home/Sell/sellBillList?" + data ;
    });
</script>