<include file="public/head" />
<h1>订单结算页面</h1>

<p>收货地址: <input type="text" name="address" /></p>

<p>联系人: <input type="text" name="user_name" /></p>

<p>手机: <input type="text" name="mobile" /></p>




<button id="t_submit">正式提交订单</button>
<script type="text/javascript" src="/Public/bootstrap/js/jquery.min.js"></script>
<script type="text/javascript" src="/Public/bootstrap/js/t_submit.js"></script>
<script type="text/javascript">
    t_submit('/Home/Order/add');
</script>

<include file="public/foot" />