<include file="public/head" />

<script type="text/javascript">
    pSet('3');
    function iSel(selid){
        objSel = document.getElementById(selid);
        if(objSel.checked){
            objSel.checked =false;
            document.getElementById('tr'+selid).setAttribute("class", 'selc cool');
        }else{
            objSel.checked =true;
            document.getElementById('tr'+selid).setAttribute("class", 'selc');
        }
        iSet();
    }
    onload = function(){iSet();}
    function iSet(){
        var eventdx = document.getElementsByTagName('input');
        var selpay = 0;
        var selsum = 0;
        for (var i=0;i<eventdx.length;i++){
            if(eventdx[i].name=='buyid[]' && eventdx[i].checked){
                document.getElementById('tr'+eventdx[i].value).setAttribute('class', 'selc');
                selsum++;
                selpay += eval(document.getElementById('pay'+eventdx[i].value).innerText.replace(',', ''));
            }
        }
        selpay0 = selpay*0.2;
        document.getElementById('selsum').innerText = selsum;
        document.getElementById('selpay').innerText = i2s3(selpay);
        document.getElementById('selpay0').innerText = i2s3(selpay0);
    }
    function i2s3(intval){
        var reStr = '';
        var strval = String(intval).split('.');
        var ilen = strval[0].length;
        var slen = ilen%3;
        var tlen = parseInt(ilen/3);
        var tsum = 0;
        if (slen>0) {
            reStr = strval[0].substr(0,slen);
            tsum = slen;
        }
        for(var i=0;i<tlen;i++){
            if(reStr==''){
                reStr = strval[0].substr(tsum,3);
            }else{
                reStr += ','+strval[0].substr(tsum,3);
            }
            tsum += 3;
        }
        if(strval.hasOwnProperty(1)) reStr += '.'+strval[1];
        return reStr ;
    }
</script>

<div class="bdiv cont">
    <div class="content">
        <div class="list_item">
            <label>:: 购物车 ::</label>
        </div>
        <div class="list">
            <table>
                <foreach name="list" item="vo">
                    <tr>
                        <th width="60"></th>
                        <th class="tdlock">{$vo.b_name}　{$vo.b_year}年　{$vo.b_place}　{$vo.b_level}　容重{$vo.b_rz}g/l</th>
                        <th>单价：<label>{$vo.b_pri1}</label>元</th>
                        <th width="120"><a href="/Home/Sell/onLineBillInfo/b_id/{$vo.b_id}">查看粮源详情</a></th>
                    </tr>
                    <foreach name="vo.bill_item" item="item">
                        <tr id="tr{$item.bi_id}" class="selc cool" onclick="iSel({$item.bi_id});">
                            <td><input type="checkbox" name="buyid[]" id="{$item.bi_id}" class="bt_s" value="{$item.bi_id}" onclick="iSel({$item.bi_id});"></td>
                            <td>{$item.bi_sum}箱　(毛重：{$item.bi_gwei}吨　皮重：{$item.bi_tare}吨　净重：{$item.bi_nwei}吨)</td>
                            <td>货款：<label id="pay{$item.bi_id}">{$item.bi_dpay}</label>元</td>
                            <td></td>
                        </tr>
                    </foreach>
                </foreach>

            </table>
            <table>
                <tr>
                    <td width="60"></td>
                    <td class="tdlock">已选 <label id="selsum">0</label> 组货物</td>
                    <td>合计：<label id="selpay">0</label>元<br/>(首付<label id="selpay0">0</label>元即可购买)</td>
                    <td width="120"></td>
                </tr>
            </table>
        </div>
        <div class="list_page">
            <input class="bt bt_s" id="t_submit" value="进入订单结算" type="button"/>
        </div>
    </div>
</div>


<script type="text/javascript" src="/Public/bootstrap/js/jquery.min.js"></script>
<script type="text/javascript" src="/Public/bootstrap/js/t_submit.js"></script>
<script type="text/javascript">
    t_submit('/Home/Cart/choseBiId');
</script>

<include file="public/foot" />