<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/Home/User/ajaxSendSms/" method="post">
    <p>mobile: <input type="text" name="mobile" /></p>
    <p>Last name: <input type="text" name="lname" /></p>
    <input type="submit" value="Submit" />
</form>

<form action="/Home/User/login/" method="post">
    <p>mobile: <input type="text" name="mobile" /></p>
    <p>code: <input type="text" name="code" /></p>
    <input type="submit" value="Submit" />
</form>


<a href="/Public/js/a.js">sadf</a>
<script src="/Public/js/jquery.min.js"></script>

</body>
</html>