<include file="public/head" />

<script type="text/javascript">
    pSet('3');
    function codePost(){
        document.getElementById('mobi_code').disabled = '';
        document.getElementById('mobi_code').value = '';
        document.getElementById('mobi_code').focus();
        var eTime = Math.round(new Date().getTime()/1000)+60;
        var tTime = setInterval(ActiCodeGetTime,1000);
        function ActiCodeGetTime(){
            var nTime = Math.round(new Date().getTime()/1000);
            var t =eTime - nTime;
            if (t <= 0) {
                document.getElementById("code_bt").value = '重新发送';
                document.getElementById("code_bt").disabled = '';
                document.getElementById("code_bt").setAttribute("class", 'bt bt_s');
                clearInterval(tTime);
            }else{
                document.getElementById("code_bt").value = t + " 秒后可重发";
                document.getElementById("code_bt").disabled = 'disabled';
                document.getElementById("code_bt").setAttribute("class", 'bt_dis bt_s');
            }
        }
    }
</script>

<div class="bdiv cont">
    <div class="inp">
        <div class="tit"><a href="javascript:;" onClick="javascript:history.back(-1);"><返回</a><h2>手机登录</h2></div>
        <div class="reg">
            手机号：<input name="mobile" value="" type="text"/><br/>
            验证码：<input name="mobi_code" id="mobi_code" class="tx_dis" disabled value="请先点击“发送验证码”" type="text"/>　<input id="code_bt" class="bt bt_s" value="发送验证码" type="button" onclick="codePost();"/><br/>
            　　　　<input class="bt " id="t_submit" value="登录" type="button"/>
        </div>
    </div>
</div>
</div>
<input type="hidden" id="msgType" value="lgn"/>
<script type="text/javascript" src="/Public/bootstrap/js/jquery.min.js"></script>
<script type="text/javascript" src="/Public/bootstrap/js/t_submit.js"></script>
<script type="text/javascript">
    t_submit('/Home/Index/ajaxMobileLogin');
</script>

<script type="text/javascript" src="/Public/js/sendMsg.js" ></script>
<include file="public/foot" />