<include file="public/head" />
<script type="text/javascript">
    onload = function(){
        document.getElementById('list1').style['display'] = 'none';
        document.getElementById('list2').style['display'] = 'none';
        var itemval = GetQueryString('item');
        if(itemval==null) itemval=1;
        document.getElementById('list'+itemval).style['display'] = '';
        document.getElementById('item'+itemval).setAttribute('class', 'hot');
    }

    function GetQueryString(name)
    {
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
    }
</script>
<div class="cont">
    <div class="tit"><a href="/Wap"><返回</a>系统通知</div>
</div>
<div class="cont">
    <div class="item_tit">
        <a href="?item=1" id="item1">新通知({$count})</a>
        <a href="?item=2" id="item2">已读通知</a>
    </div>
</div>

<div class="item_list" id="list1">
    <volist name="not_read.list" id="vo">
    <div class="msgitem" onclick="location.href='{$vo|getWapMsgUrl}'">
        <div class="info1">
            {$vo.sm_type|getMsgText}：{$vo.code}<label>{$vo.sm_ctime|getDateTime}</label>
        </div>
        <div class="info2">{$vo.sm_content}</div>
    </div>
    </volist>
    <div id="list_item_1"></div>
</div>

<div class="item_list" id="list2">
    <volist name="read.list" id="vo">
        <div class="msgitem" onclick="location.href='{$vo|getWapMsgUrl}'">
            <div class="info1">
                {$vo.type|getMsgText}：{$vo.code}<label>{$vo.ctime|getDateTime}</label>
            </div>
            <div class="info2">{$vo.sm_content}</div>
        </div>
    </volist>
    <div id="list_item_2"></div>
</div>

<input type="hidden" id="item_id" value="{$_GET['item']}"/>
<input type="hidden" id="item_page" value="2" />

<if condition="$_GET['item'] eq 1 OR !$_GET['item']">
    <input type="hidden" class="item_total_page" value="{$not_read.total_page}" />
    <elseif condition="$_GET['item'] eq 2" />
    <input type="hidden" class="item_total_page" value="{$read.total_page}" />
</if>
<include file="public/foot" />

<script type="text/javascript" src="/Public/bootstrap/js/jquery.min.js"></script>
<script>
    // 当前第几个导航条
    var item = $("#item_id").val();
    if (item.length == 0) {
        item = 1;
    }
    item = parseInt(item);

    $(window).scroll(function(){
        //判断是否滑动到页面底部
        if($(window).scrollTop() === $(document).height() - $(window).height()){
            //当前第几页
            var page = $("#item_page").val();
            $("#item_page").val(parseInt(page) + 1);

            // 共几页
            var total_page = parseInt($(".item_total_page").val());
            if (page > total_page) {
                if (item == 1) {
                    $("#list_item_1").empty();
                    $("#list_item_1").append('已无更多数据');
                }

                if (item == 2) {
                    $("#list_item_2").empty();
                    $("#list_item_2").append('已无更多数据');
                }

                return false;
            }


            if (item == 1) {
                $.ajax({
                    type: 'POST',
                    url: '/Wap/SysMsg/ajaxGetPageNotReadMsg?p=' + page,
                    dataType: 'json',
                    timeout: 10000,
                    success: function(data){
                        if (data.list == null) {
                            return false;
                        }
                        else {
                            $("#list_item_1").append(data.list);
                        }
                    },
                    error: function(xhr, type){
                        alert('抱歉,加载失败!');
                    }
                });

            }

            if (item == 2) {
                $.ajax({
                    type: 'POST',
                    url: '/Wap/SysMsg/ajaxGetPageReadMsg?p=' + page,
                    dataType: 'json',
                    timeout: 10000,
                    success: function(data){
                        if (data.list == null) {
                            return false;
                        }
                        else {
                            $("#list_item_2").append(data.list);
                        }
                    },
                    error: function(xhr, type){
                        alert('抱歉,加载失败!');
                    }
                });
            }
        }
    });
</script>