<include file="public/head" />

<script type="text/javascript">
    pSet('3');
    onload = function(){
        document.getElementById('list1').style['display'] = 'none';
        document.getElementById('list2').style['display'] = 'none';
        document.getElementById('list3').style['display'] = 'none';
        var itemval = GetQueryString('item');
        if(itemval==null) itemval=1;
        document.getElementById('list'+itemval).style['display'] = '';
        document.getElementById('item'+itemval).setAttribute('class', 'hot');
    }

    function GetQueryString(name)
    {
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
    }
</script>
<div class="bdiv cont">
    <div class="content">
        <div class="pboard">
            <h2>高品质玉米：</h2>
            <h5>今日市场参考价</h5>
            <h4>锦州港　容重<b>720</b>g/l　霉变<b>1.2</b>%　　　　　　　　　　元 / 吨</h4>
            <h1>1,700</h1>
        </div>
        <div class="uboard">
            <h3>成交订单： {$info.all_order_count} 笔</h3>
            <h3>注册会员： {$info.user_count} 人</h3>
            <div>
                <a href="/Home/Offer/addOffer"><img src="/Public/fu/img/bt_buy.png"/></a>
                <a href="/Home/Sell/sellBill"><img src="/Public/fu/img/bt_sal.png"/></a>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="list_item">
            您好，{$user.real_name}(<a href="/Home/User/userView">设置</a>)。
            <a href="/Home/SysMsg/index">{$msg_count}条待处理</a>信息;
            <a href="/Home/Cart/index">{$cart_count}组待购买</a>货物。
            <div class="item">
                <a href="/Home/Message/index/?item=3" id="item3">卖粮货单({$info.bill.count})</a>
                <a href="/Home/Message/index/?item=2" id="item2">预购约单({$info.offer.count})</a>
                <a href="/Home/Message/index/?item=1" id="item1">买粮订单({$info.order.order_count})</a>
            </div>
        </div>
        <div class="list" id="list1">
            <table>
                <volist name="info.order.list" id="vo">
                <tr onmouseover="this.style['background']='#F0ECE1';"  onmouseout="this.style['background']='#FFF';">
                    <td width="220"><a href="/Home/Order/info/o_id/{$vo.o_id}">订单号：{$vo.o_code}</a></td>
                    <td width="150">{$vo.o_ctime|date='Y/m/d H:i',###}</td>
                    <td>{$vo.bill.b_name}</td>
                    <td>{$vo.bill.b_year}年</td>
                    <td>{$vo.bill.b_place}</td>
                    <td>{$vo.bill.b_level}</td>
                    <td>容重：{$vo.bill.b_rz}g/l</td>
                    <td>{$vo.bill.all_nwei}吨</td>
                    <td>{$vo.o_pri1|formatMoney}元/吨</td>
                    <td><a href="/Home/Order/info/o_id/{$vo.o_id}">{$vo.o_id|getMessageById=0}</a></td>
                </tr>
                </volist>

            </table>
            <div class="list_page">
                {$info.order.page}
            </div>
        </div>
        <div class="list" id="list2">
            <table>
                <volist name="info.offer.list" id="vo">
                <tr onmouseover="this.style['background']='#F0ECE1';"  onmouseout="this.style['background']='#FFF';">
                    <td width="220"><a href="/Home/Offer/offerInfo/f_id/{$vo.f_id}">预约号：{$vo.f_code}</a></td>
                    <td width="150">{$vo.f_ctime|date='Y/m/d H:i',###}</td>
                    <td>{$vo.f_name}</td>
                    <td>{$vo.f_year}年</td>
                    <td>{$vo.f_place}</td>
                    <td>{$vo.f_level}</td>
                    <td>容重：{$vo.f_rz}g/l</td>
                    <td>{$vo.f_weig}吨</td>
                    <td></td>
                    <td><a href="/Home/Offer/offerInfo/f_id/{$vo.f_id}">{$vo.f_id|getMessageById=2}</a></td>
                </tr>
                </volist>
            </table>
            <div class="list_page">
                {$info.offer.page}
            </div>
        </div>
        <div class="list" id="list3">
            <table>
                <volist name="info.bill.list" id="vo">
                <tr onmouseover="this.style['background']='#F0ECE1';"  onmouseout="this.style['background']='#FFF';">
                    <td width="220"><a href="/Home/Sell/sellBillInfo/b_id/{$vo.b_id}">货单号：{$vo.b_code}</a></td>
                    <td width="150">{$vo.b_ctime|date='Y/m/d H:i',###}</td>
                    <td>{$vo.b_name}</td>
                    <td>{$vo.b_year}年</td>
                    <td>{$vo.b_place}</td>
                    <td>{$vo.b_level}</td>
                    <td>容重：{$vo.b_rz}g/l</td>
                    <td>{$vo.b_weig}吨</td>
                    <td width="110">{$vo.b_pri1|intval}元/吨</td>
                    <td width="120"><a href="/Home/Sell/sellBillInfo/b_id/{$vo.b_id}">{$vo.b_id|getMessageById=1}</a></td>
                </tr>
                </volist>
            </table>
            <div class="list_page">
                {$info.bill.page}
            </div>
        </div>
    </div>
</div>


<include file="public/foot" />