<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
重置密码页面
    <p>电话: <input type="text" name="mobile" /></p>
    <p>新密码: <input type="text" name="password" /></p>
    <input type="submit" id="t_submit" value="修改" />

<script type="text/javascript" src="/Public/bootstrap/js/jquery.min.js"></script>
<script type="text/javascript" src="/Public/bootstrap/js/t_submit.js"></script>
<script type="text/javascript">
    t_submit('/Home/User/changePassword/');
</script>
</body>
</html>