<include file="public/head" />
<script type="text/javascript">
    pSet('3');
</script>

<div class="bdiv cont">
    <div class="content">
        <div class="list_item">
            <label>:: 订单号：{$info.order.o_code} - {$info.order.o_status|getOrderStatus}) ::</label>　　<<a href="javascript:;" onClick="javascript:history.back(-1);">返回</a>>
        </div>
        <div class="list">
            货组编号：{$info.order_item.bi_id} - <label>[{$info.order_item.oi_status|getOrderItemStatus}]</label>
            <table>
                <tr>
                    <th width="30" rowspan="2"></th>
                    <th rowspan="2" width="110"><img src="{$info.order_item.bi_cnum1_pho}" width="80" height="80"/><br/></th>
                    <th rowspan="2" width="110"><img src="{$info.order_item.bi_snum1_pho}" width="80" height="80"/><br/></th>
                    <th>箱号：{$info.order_item.bi_cnum1}</th>
                    <th width="30" rowspan="2"></th>
                    <th rowspan="2" width="110"><img src="{$info.order_item.bi_cnum2_pho}" width="80" height="80"/><br/></th>
                    <th rowspan="2" width="110"><img src="{$info.order_item.bi_snum2_pho}" width="80" height="80"/><br/></th>
                    <th>箱号：{$info.order_item.bi_cnum2}</th>
                </tr>
                <tr>
                    <th>封号：{$info.order_item.bi_snum1}</th>
                    <th>封号：{$info.order_item.bi_snum2}</th>
                </tr>
                <tr>
                    <th></th>
                    <th colspan="7">
                        封箱: {$info.order_item.bi_sum}箱　　　
                        毛重: {$info.order_item.bi_gwei}吨　　　
                        皮重: {$info.order_item.bi_tare}吨　　　
                        净重: {$info.order_item.bi_nwei}吨　　　
                        货款：{$info.order_item.bi_dpay}元({$info.order_item.bi_dpri}元/吨)　　　<a href=""><下载装货视频></a></th>
                </tr>
            </table>
            <table>
                <tr>
                    <td width="30"></td>
                    <td width="90">成交时间：</td>
                    <td colspan="3">2018年7月15日  11:55:12</td>
                </tr>
                <tr>
                    <td></td>
                    <td>离岸时间：</td>
                    <td width="220">2018年7月15日  12:20:55</td>
                    <td width="90">离港名称：</td>
                    <td>锦州港</td>
                </tr>
                <tr>
                    <td></td>
                    <td>到岸时间：</td>
                    <td>2018年7月18日  13:15:35</td>
                    <td>到港名称：</td>
                    <td>前海港</td>
                </tr>
                <tr>
                    <td></td>
                    <td>物流信息：</td>
                    <td>暂无</td>
                    <td colspan="2"></td>
                </tr>
            </table>
            <table>
                <tr>
                    <th width="30"></th>
                    <th width="90">待付货款：</th>
                    <th width="220"><label><b>84,500</b></label> 元</th>
                    <th width="90">可结利息：</th>
                    <th><label><b>84.5</b></label> 元 (84500x0.0002x5) 成交至今5天。</th>
                </tr>
                <tr>
                    <th></th>
                    <th>滞箱费：</th>
                    <th colspan="3"><label><b>0</b></label>元 (到岸14天内免费，超出时间按50元/天.箱收取)</th>
                </tr>
            </table>
        </div>
    </div>
</div>
<include file="public/foot" />