<div class="bdiv bot">
    <div class="help">
        <div>
            会员帮助<br/>
            <a href="#">会员规章</a>
            <a href="#">操作流程</a>
        </div>
        <div>
            交易帮助<br/>
            <a href="#">交易规则</a>
            <a href="#">买粮流程</a>
            <a href="#">卖粮流程</a>
        </div>
        <div>
            关于我们<br/>
            <a href="#">平台介绍</a>
            <a href="#">服务介绍</a>
            <a href="#">合作伙伴</a>
        </div>
        <div>
            客户服务<br/>
            <a href="#">客服电话</a>
            <a href="#">意见反馈</a>
        </div>
        <div class="ap">
            <img src=""/>iOS
        </div>
        <div class="ap">
            <img src=""/>Android
        </div>
    </div>

    <div class="cp">
        &copy;2018 Copyrights By LIANGBANG.COM & All rights reserved
        <div class="ba">辽ICP备 1101101</div>
    </div>
</div>
</body>
</html>