<include file="public/head" />

<div class="cont">
    <div class="tit"><a href="javascript:;" onClick="javascript:history.back(-1);"><返回</a>订单货组详情</div>
    <hr>
    <div class="order_info">
        <label>订单号: {$info.order.o_code}</label>
    </div>

    <div class="order_info">
        <label>
            货组编号：{$info.order_item.bi_id} -
            <span>
            <b>{$info.order_item.oi_status|getOrderItemStatus}</b>
            </span>
        </label>
    </div>

    <div class="order_item">{$info.order|getOrderItemPendingMoneyText}：
        <label>
            <span>
                <b>{$info.order|getOipm}</b>
            </span>元
        </label>
    </div>

    <if condition="$info['order']['o_pay_type'] eq 1">
    <div class="order_item">可结利息：
        <label>
            <span>
                <b>{$info.order|getKnotNew=$info['order_item']}</b>
            </span>元
        </label>
        <br/>计息：{$info.order|getPastDay}天(成交日开始)
        <label>
            ({$info.order.o_pay}x{$info.order.o_rate}x{$info.order|getPastDay})
        </label>
    </div>
    </if>

    <div class="order_item">
        滞箱费：
        <label>
            <span>
                <b>{$info.order.o_depay|formatMoney}</b>
            </span>元
        </label>
        <br/>(到岸14天内免费，超出时间按50元/天.箱收取)
    </div>
    <div class="order_info"></div>


    <div class="order_item">
        {$info.bill_item.bi_sum}箱　
        毛重{$info.bill_item.bi_gwei}吨　
        皮重{$info.bill_item.bi_tare}吨　
        净重{$info.bill_item.bi_nwei}吨
    </div>
    <div class="order_item">
        货款合计：<b>{$info.bill_item.bi_dpay|formatMoney}</b>元
        ({$info.order.o_pri1|formatMoney}元/吨)
    </div>
    <div class="order_item">成交时间：{$info.order.o_ctime|getDateTime}</div>
    <div class="order_item">
        离岸时间：{$info.bill_item.oi_otime|getDateTime}<br/>
        离港名称：{$info.bill_item.bi_port|getPortName}
    </div>
    <div class="order_item">
        到岸时间：{$info.order.o_atime|getDateTime}<br/>
        到港名称：{$info.order.o_port|getPortName}
    </div>
    <div class="order_item">物流信息：{$info.order.o_status|getOrderStatus}</div>


    <div class="order_info">
        <label>箱号：{$info.bill_item.bi_cnum1}</label>
        <label>封号：{$info.bill_item.bi_snum1}</label><br/>
        <img src="{$Think.config.CN_URL}{$info.bill_item.bi_cnum1_pho}" class="simg" />
        <img src="{$Think.config.SN_URL}{$info.bill_item.bi_snum1_pho}" class="simg" /><br/>
        <label>箱号：{$info.bill_item.bi_cnum2}</label>
        <label>封号：{$info.bill_item.bi_snum2}</label><br/>
        <img src="{$Think.config.CN_URL}{$info.bill_item.bi_cnum2_pho}" class="simg" />
        <img src="{$Think.config.SN_URL}{$info.bill_item.bi_snum2_pho}" class="simg" /><br/>

        <a href="{$Think.config.LD_URL}{$info.bill_item.bi_video1}">A箱视频</a>　　
        <a href="{$Think.config.LD_URL}{$info.bill_item.bi_video2}">B箱视频</a>
    </div>
</div>

<include file="public/foot" />