<include file="public/head" />

<div class="cont">
    <div class="tit"><a href="javascript:;" onClick="javascript:history.back(-1);"><返回</a>订单粮源详情</div>
    <hr>
    <div class="order_info"><label>订单号: {$info.order.o_code}</label></div>
    <div class="order_info"><img src="{$info.bill.b_photo}" width="200" height="200" /></div>
    <div class="order_info"><label>
        {$info.bill.b_name}　
        {$info.bill.b_year}年　
        {$info.bill|getCAddress}　
        {$info.bill.b_level}　
        容重{$info.bill.b_rz}g/l</label></div>
    <div class="order_info">
        <label>霉变{$info.bill.b_mb}%</label>
        <label>水份{$info.bill.b_sf}%</label>
        <label>杂质{$info.bill.b_zz}%</label>
        <label>呕吐毒素{$info.bill.b_ot}μg/kg</label>
    </div>
    <div class="order_info">
        <label>成交单价：<b>{$info.bill.b_pri1|formatMoney}</b>元/吨</label><br/>
        成交货组：{$info.bi_id_str}</div>
</div>

<include file="public/foot" />