<include file="public/head" />

<div class="cont">
    <div class="tit"><a href="#" onclick="window.history.go(-1);"><返回</a>订单货组详情</div>
    <hr>
    <div class="order_info"><label>订单号: B20183225485965</label></div>
    <div class="order_info"><label>货组编号：2121112 - <span><b>[到岸待付款]</b></span></label></div>
    <div class="order_item">待付货款：<label><span><b>84,500</b></span>元</label></div>
    <div class="order_item">可结利息：<label><span><b>84.5</b></span>元</label><br/>计息：5天(成交日开始)<label>(84500x0.0002x5)</label></div>
    <div class="order_item">滞箱费：<label><span><b>0</b></span>元</label><br/>(到岸14天内免费，超出时间按50元/天.箱收取)</div>
    <div class="order_info"></div>
    <div class="order_item">2箱　毛重60吨　皮重10吨　净重50吨</div>
    <div class="order_item">货款合计：<b>85,000</b>元 (1,700元/吨)</div>
    <div class="order_item">成交时间：2018/07/15 11:55:12</div>
    <div class="order_item">离岸时间：2018/07/16 10:12:35<br/>离港名称：锦州港</div>
    <div class="order_item">到岸时间：2018/07/18 13:15:35<br/>到港名称：前海港</div>
    <div class="order_item">物流信息：暂无</div>
    <div class="order_info"><label>箱号：315112</label><label>封号：865231</label><br/><img src="" class="simg" /><img src="" class="simg" /><br/><label>箱号：315213</label><label>封号：865398</label><br/><img src="" class="simg" /><img src="" class="simg" /><br/><a href=""><查看装货视频></a></div>
</div>

<include file="public/foot" />