<include file="public/head" />

<div class="cont">
    <div class="tit"><a href="javascript:;" onClick="javascript:history.back(-1);"><返回</a>订单详情</div>
    <hr>
    <div class="order_info">
        <label>订单号: {$info.order.o_code}</label>
        <label>[{$info.order.o_status|getOrderStatus}]</label>
    </div>

    <!-- 支付信息 -->
    <?php if(in_array($info['order']['o_status'], array(2) ) ) { ?>
    <div class="order_info">
        <label><span><b>需付款：<?php
                                echo  formatMoney($info['order']['o_pay_f']+
                                $info['order']['o_frei']+
                                $info['order']['o_frei_m']);
                                ?>
        </b></span>元</label><br/>
        (首付<span><b>{$info.order.o_pay_f|formatMoney}</b></span> +
        陆运费<span><b>{$info.order.o_frei|formatMoney}</b></span> +
        海运费<span><b>{$info.order.o_frei_m|formatMoney}</b></span>)<br/>
    </div>
    <?php } ?>

    <!-- 支付信息 -->
    <?php if(in_array($info['order']['o_status'], array(5,6,7,8,9,10) ) ) { ?>
    <div class="order_info">
        <label>
            <span><b>
                <if condition="$info['order']['o_status'] eq 5">需付款:
                    <else/>已付款:
                </if>
                <?php
                echo  formatMoney($info['order']['o_pay_t']+
                getKnotNumber($info['order'])+
                $info['order']['o_depay']);
                ?>
            </b></span>元
        </label><br/>
        (尾款<span><b>{$info.order.o_pay_t|formatMoney}</b></span> +
        利息<span><b>{$info.order|getKnotNumber}</b></span> +
        滞箱费<span><b>{$info.order.o_depay|formatMoney}</b></span>)<br/>
    </div>
    </div>
    <?php } ?>


        <div class="order_info" onclick="location.href='/Wap/Order/billInfo/b_id/{$info.bill.b_id}/o_id/{$info.order.o_id}/bi_id/{$info.bill.bill_item|getArrayV='bi_id'}'">
            <label>{$info.bill.b_name}　{$info.bill.b_year}年　{$info.bill|getCAddress}　{$info.bill.b_level}　容重{$info.bill.b_rz}g/l　（查看）</label>
        </div>
        <div class="order_info">
            <label>货款合计<b>{$info.order.o_pay|formatMoney}</b> 元
                ({$info.order.o_pri1|formatMoney}元/吨)</label>
        </div>
        <volist name="info.bill.bill_item" id="item">
            <div class="order_item" onclick="location.href='/Wap/Order/billItemInfo/oi_id/{$item.oi_id}/o_id/{$info.order.o_id}'">
                &#8470;.{$item.bi_id}<label>(详情)</label><br/>
                箱号: {$item.bi_cnum1}　{$item.bi_cnum2}<label>
                {$item.bi_sum}箱　
                净重{$item.bi_nwei}吨</label>
            </div>
        </volist>
    <div class="order_info"></div>

    <!-- 付款方式 -->
    <div class="order_item">
        付款方式：{$info.order.o_pay_type|getPayType}
        <label>
            <?php if(in_array($info['order']['o_status'], array(3,4,5) ) ) { ?>
            计息: {$info.order|getKnotNumber}元
            ({$info.order|getPastDay}天)
            <?php } ?>
            <?php if(in_array($info['order']['o_status'], array(6,7,8,9,10) ) ) { ?>
            利息: {$info.order.o_inpay|formatMoney}元
            <?php } ?>
        </label><br>&nbsp;
        <?php if($info['order']['o_pay_type'] < 1) { ?>
        <label>(首付<b>{$info.order.o_pay_f|formatMoney}</b>元，
            尾款<b>{$info.order.o_pay_t|formatMoney}</b>元，
            年利率{$info.order.o_rate})
        </label>
        <?php } else { ?>
        <label>(货款<b>{$info.order.o_pay_f|formatMoney}</b>元
        </label>
        <?php } ?>

    </div>


    <div class="order_item">
        收货方式：{$info.order.o_deli_type|getDeliType}
        <label>陆运费：<b>{$info.order.o_frei|formatMoney}</b>元</label><br/>
        联系人：{$info.order.o_deli_cont}　　手机号：{$info.order.o_deli_mobi}<br/>
        收货地址：{$info.order.o_deli_add}
    </div>

    <?php if(in_array($info['order']['o_status'], array(3,4,5,6,7,8,9,10) ) ) { ?>
        <div class="order_info">成交时间：{$info.order.o_dtime|getDateTime}</div>
    <?php } ?>

    <!-- 海运信息 -->
    <?php if(in_array($info['order']['o_status'], array(2,3) ) ) { ?>
    <div class="order_item">
        <label>海运费：<b>{$info.order.o_frei_m|formatMoney}</b>元</label><br/>
    </div>
    <?php } ?>

    <!-- 海运信息 -->
    <?php if(in_array($info['order']['o_status'], array(4) ) ) { ?>
    <div class="order_item">
        <label>海运费：<b>{$info.order.o_frei_m|formatMoney}</b>元</label><br/>
    </div>
    <div class="order_item">
        离岸时间：{$info.order.o_otime|getDateTime}
        <label><b>{$info.bill.bill_item.0|getPortName}</b></label><br/>
    </div>
    <?php } ?>

    <!-- 海运信息 -->
    <?php if(in_array($info['order']['o_status'], array(5,6,7,8,9,10) ) ) { ?>
        <div class="order_info">海运单号：{$info.order.o_marnum} {$info.mc_name}</div>
        <div class="order_item">
            <label>海运费：<b>{$info.order.o_frei_m|formatMoney}</b>元</label><br/>
        </div>
        <div class="order_item">
            离岸时间：{$info.order.o_otime|getDateTime}
            <label><b>{$info.bill.bill_item.0|getPortName}</b></label><br/>
            到岸时间：{$info.order.o_atime|getDateTime}
            <label><b>{$info.order.o_port|getPortName}</b></label>
        </div>
    <?php } ?>


    <!-- 滞箱信息 -->
    <?php if(in_array($info['order']['o_status'], array(5,6,7,8,9,10) ) ) { ?>
        <div class="order_item">
            滞箱期限：{$info.order.o_detime|date='Y-m-d',###} 结止<br/>
            至今 <?php echo getDay(); ?> 超期 {$info.order|getdeDay} 天({$Think.config.BOX_DAY_PAY}元/箱.天)
            <label>滞箱费：<b>{$info.order.o_depay|formatMoney}</b>元</label>
        </div>
    <?php } ?>

    <?php if(in_array($info['order']['o_status'], array(2,3,4,5,6,7,8,9,10) ) ) { ?>
        <div class="order_info"><<a href="">查看电子合同</a>>
    <?php } ?>
    </div>
<include file="public/foot" />