<include file="public/head" />

<script type="text/javascript">
    pSet('3');
</script>

<div class="bdiv cont">
    <div class="content">
        <div class="list_item">
            <label>:: 系统通知 ::</label>
            <div class="item">
                <a href="/Home/SysMsg/is_read" <if condition="$is_read"> class="hot" </if> >已读通知</a>
                <a href="/Home/SysMsg/index" <if condition="!$is_read"> class="hot" </if>>新通知({$count})</a>
            </div>
        </div>
        <div class="list">
            <table>
                <volist name="data.list" id="vo">
                <tr onmouseover="this.style['background']='#F0ECE1';"  onmouseout="this.style['background']='#FFF';">
                    <td class="cool">{$vo.sm_type|getMsgText}：{$vo.code}</a></td>
                    <td class="cool">{$vo.sm_ctime|date='Y年m月d日 H:i:s',###}</td>
                    <td class="tdlock">{$vo.sm_content}</td>
                    <td><a href="{$vo|getMsgUrl}">{$vo.sm_type|getMsgUrlText}</a></td>
                </tr>
                </volist>

            </table>
            <div class="list_page">{$data.page}</div>
        </div>
    </div>
</div>
<include file="public/foot" />