<include file="public/head" />

<div class="cont">
    <!-- 基本信息区域 -->
    <div class="tit"><a href="javascript:;" onClick="javascript:history.back(-1);"><返回</a>货单货组详情</div>
    <hr>
    <div class="order_info"><label>货单号: {$_GET['b_code']}</label></div>
    <div class="order_info"><label>货组编号：{$info.bill_item.bi_id} - <span><b>[{$info.bill_item.bi_status|getBillItemStatus}]</b></span></label></div>
    <div class="order_info">{$info.bill_item.bi_sum}箱　毛重{$info.bill_item.bi_gwei}吨　皮重{$info.bill_item.bi_tare}吨　净重{$info.bill_item.bi_nwei}吨</div>


    <!-- 回款信息 -->
    <?php if(in_array($info['bill_item']['bi_status'], array(5,6,7,10))) { ?>
    <div class="order_item">
        回款金额：<label><b>{$info['bill']|getBiRpayShow=$info['bill_item']}</b>元</label>
    </div>

    <div class="order_item">
        回款利息：<label><span><b>{$info['bill']|getBackRate=$info['bill_item']}</b></span>元</label><br/>
        计息：{$info['bill_item']|getSellDays}天(上架出售开始)
        <label>({$info['bill']|getBiRpay=$info['bill_item']}元x
            {$Think.config.SELL_RATE}/365x
            {$info['bill_item']|getSellDays})</label>
    </div>
    <?php } ?>
    <div class="order_info"></div>

    <!-- 成交金额和溢价 -->
    <?php if(in_array($info['bill_item']['bi_status'], array(7,10))) { ?>
    <div class="order_item">成交金额：
        <label>
            ({$info.bill_item.bi_dpri|formatMoney}元/吨)
            <b>{$info.bill_item.bi_dpay|formatMoney}</b>元
        </label>
    </div>
        <?php if(IsShowItemDiff($info['bill'], $info['bill_item']) ) { ?>
        <div class="order_item">
            {$info['bill']|getItemDiffText=$info['bill_item']}：
            <label>
                ({$info['bill']|getItemShowD=$info['bill_item']})
                <span>
                    <b>{$info['bill']|getItemDiff=$info['bill_item']}</b>
                </span>元
            </label>
        </div>
        <?php } ?>
    <?php } ?>

    <div class="order_info"></div>

    <!-- 入港信息 -->
    <?php if(in_array($info['bill_item']['bi_status'], array(3,5,6,7))) { ?>
    <div class="order_item">入港时间：{$info['bill_item']['bi_itime']|getDateTime}
        <label>{$info['bill_item']['bi_port']|getPortName}</label>
    </div>
    <?php } ?>

    <!-- 上架时间 -->
    <?php if(in_array($info['bill_item']['bi_status'], array(5,6,7))) { ?>
      <div class="order_item">上架时间：{$info['bill_item']['bi_stime']|getDateTime}</div>
    <?php } ?>
    <!-- 成交时间 -->
    <?php if(in_array($info['bill_item']['bi_status'], array(7,10))) { ?>
      <div class="order_item">成交时间：{$info.bill_item.bi_dtime|getDateTime} (在售{$info['bill_item']|getSellDays}天)</div>
    <?php } ?>
    <!-- 基本信息区域 -->
    <div class="order_info">
        <label>磅单：</label><br/>
        <img src="{$Think.config.LP_URL}{$info.bill_item.bi_plist_pho}" width="200" height="90" onclick="window.open('{$Think.config.LP_URL}{$info.bill_item.bi_plist_pho}');"/>
    </div>
    <div class="order_info">
        <label>箱号：{$info.bill_item.bi_cnum1}</label>
        <label>封号：{$info.bill_item.bi_snum1}</label><br/>
        <img src="{$Think.config.CN_URL}{$info.bill_item.bi_cnum1_pho}" class="simg" />
        <img src="{$Think.config.SN_URL}{$info.bill_item.bi_snum1_pho}" class="simg" /><br/>
        <?php if($info['bill_item']['bi_video1']){ ?>
        <a href="{$Think.config.LD_URL}{$info.bill_item.bi_video1}"><装货视频></a>
        <?php }?>
    </div>
    <div class="order_info">
        <label>箱号：{$info.bill_item.bi_cnum2}</label>
        <label>封号：{$info.bill_item.bi_snum2}</label><br/>
        <img src="{$Think.config.CN_URL}{$info.bill_item.bi_cnum2_pho}" class="simg" />
        <img src="{$Think.config.SN_URL}{$info.bill_item.bi_cnum2_pho}" class="simg" /><br/>
        <?php if($info['bill_item']['bi_video2']){ ?>　
        <a href="{$Think.config.LD_URL}{$info.bill_item.bi_video2}"><装货视频></a>
        <?php }?>

    </div>
</div>

<include file="public/foot" />