<include file="public/head" />
<script type="text/javascript">
    function iSel(selid){
        objSel = document.getElementById(selid);
        if(objSel.checked){
            objSel.checked =false;
            document.getElementById('tr'+selid).setAttribute("class", 'bill_item cool');
        }else{
            objSel.checked =true;
            document.getElementById('tr'+selid).setAttribute("class", 'bill_item');
        }
        iSet();
    }
    onload = function(){iSet();}
    function iSet(){
        var eventdx = document.getElementsByTagName('input');
        var selpay = 0;
        var selsum = 0;
        for (var i=0;i<eventdx.length;i++){
            if(eventdx[i].name=='bi_id[]' && eventdx[i].checked){
                document.getElementById('tr'+eventdx[i].value).setAttribute('class', 'bill_item');
                selsum++;
                //selpay += eval(document.getElementById('pay'+eventdx[i].value).innerText.replace(',', ''));
            }
        }
        //selpay0 = selpay*0.2;
        document.getElementById('selsum').innerText = selsum;
        //document.getElementById('selpay').innerText = i2s3(selpay);
        //document.getElementById('selpay0').innerText = i2s3(selpay0);
    }
    function i2s3(intval){
        var reStr = '';
        var strval = String(intval).split('.');
        var ilen = strval[0].length;
        var slen = ilen%3;
        var tlen = parseInt(ilen/3);
        var tsum = 0;
        if (slen>0) {
            reStr = strval[0].substr(0,slen);
            tsum = slen;
        }
        for(var i=0;i<tlen;i++){
            if(reStr==''){
                reStr = strval[0].substr(tsum,3);
            }else{
                reStr += ','+strval[0].substr(tsum,3);
            }
            tsum += 3;
        }
        if(strval.hasOwnProperty(1)) reStr += '.'+strval[1];
        return reStr ;
    }
</script>

<div class="cont" style="margin-bottom:60px;">
    <div class="tit"><a href="javascript:;" onClick="javascript:history.back(-1);"><返回</a>在售粮源</div>
    <hr>

    <div class="bill_info">
        <label>{$info.b_name}</label>
        <label>{$info.b_year}</label>
        <label>{$info|getCAddress}</label>
        <label>{$info.b_level}</label><br/>
        <img src="{$info.b_photo}"><br/><b>{$info.b_pri1|formatMoney}</b>元/吨</div>
    <div class="bill_info">
        货单号：{$info.b_code}　　　
    </div>
    <div class="bill_info">
        <label>容重{$info.b_rz}g/l</label>
        <label>生霉{$info.b_mb}%</label>
        <label>水份{$info.b_sf}%</label>
        <label>杂质{$info.b_zz}%</label>
        <label>呕吐毒素{$info.b_ot}μg/kg</label>
    </div>

    <volist name="info.on_sell" id="vo">
        <div class="bill_item cool" id="tr{$vo.bi_id}" onclick="iSel({$vo.bi_id});">
        <input type="checkbox" name="bi_id[]" id="{$vo.bi_id}" class="bt_s" value="{$vo.bi_id}" onclick="iSel({$vo.bi_id});"/>
            组号：{$vo.bi_id}
            <label>
                <a href="{$Think.config.LD_URL}{$vo.bi_video1}"> A箱视频</a>　　
                <a href="{$Think.config.LD_URL}{$vo.bi_video2}">B箱视频</a>
            </label><br/>
            {$vo.bi_sum}箱 (毛重：{$vo.bi_gwei}吨　皮重：{$vo.bi_tare}吨　净重：{$vo.bi_nwei}吨)
    </div>
    </volist>
</div>

<div class="bill_ft" id="footer">
    已选 <label id="selsum">0</label> 组货物<br/>
    <!--货款合计：<label id="selpay" >0</label> 元　-->
    <!--(首付 <label id="selpay0" >0</label> 元即可购买)-->
    <br/>
    <input class="bt bt_s" id="t_submit" value="加入购物车" type="button"/>
    <input class="bt bt_s" id="be_order" value="立即下单" type="button"/>
</div>
<include file="public/foot" />
<script type="text/javascript">
    footerM();
    window.onresize = function(){
        footerM();
    }
    function footerM(){
        document.getElementById('footer').style['top'] = document.documentElement.clientHeight-120+'px';
    }
</script>

<script type="text/javascript" src="/Public/bootstrap/js/jquery.min.js"></script>
<script type="text/javascript" src="/Public/bootstrap/js/t_submit.js"></script>
<script type="text/javascript">
    t_submit('/Wap/Cart/ajaxAdd');

    function isEmpty(v) {
        switch (typeof v) {
            case 'undefined':
                return true;
            case 'string':
                if (v.replace(/(^[ \t\n\r]*)|([ \t\n\r]*$)/g, '').length == 0) return true;
                break;
            case 'boolean':
                if (!v) return true;
                break;
            case 'number':
                if (0 === v || isNaN(v)) return true;
                break;
            case 'object':
                if (null === v || v.length === 0) return true;
                for (var i in v) {
                    return false;
                }
                return true;
        }
        return false;
    }
    // 立即下单
    $("#be_order").on('click tap',function(){
        var str = '';
        $("input[type='checkbox']:checked").each(function(){
            str += $(this).val() + ',' ;
        })
        if (!isEmpty(str)) {
            window.location.href = '/Wap/Cart/finish?bi_id_str=' + str;
        }
    })
</script>