<include file="public/head" />
<div class="cont">
    <div class="tit"><a href="#" onclick="window.history.go(-1);"><返回</a>在售粮源</div>
    <hr>
    <div class="sel"><select disabled><option>玉米</option></select><select disabled><option>一等</option></select><select><option>全部年份</option></select><select><option>全部产地</option></select></div>
    <div class="ord">
        <a href="" class="clkitem">容重<img src="/Public/app/img/ob_a.png"></a>
        <a href="" class="clkitem">净重<img src="/Public/app/img/ob_a.png"></a>
        <a href="" class="clkitem">单价<img src="/Public/app/img/ob_a.png"></a>
        <a href="" class="clkitem">上架时间<img src="/Public/app/img/ob_a.png"></a>
    </div>
</div>
<div class="cont">
    <volist name="info.list" id="vo">
    <div class="list" onclick="location.href='/Wap/Sell/onLineBillInfo/b_id/{$vo.b_id}'">
        <div class="info1">{$vo.b_year}年 {$vo.b_place} {$vo.b_weig}吨<h3>{$vo.b_pri1|formatMoney}元/吨</h3></div>
        <div class="info2"><label>容重{$vo.b_rz}g/l</label><label>霉变{$vo.b_mb}%</label><label>水份{$vo.b_sf}%</label></div>
        <div class="info2"><label>杂质{$vo.b_zz}%</label><label>呕吐毒素{$vo.b_ot}μg/kg</label></div>
    </div>
    </volist>
</div>
<include file="public/foot" />