<include file="public/head" />

<div class="cont">
    <div class="tit">
        <a href="/Wap/Message/index/?item=3"><返回</a>货单详情
    </div>
    <hr>
    <div class="order_info">
        <label>货单号: {$info.b_code}</label>
        <label>[{$info.b_status|getBillStatus}]</label>
        <if condition="$info.b_status eq -1">　
            <<a href="/Home/Sell/sellBill/b_id/{$info.b_id}">修改</a>> 　
            <<a href="#" onclick="disp_confirm()">删除</a>>
        </if>
    </div>

    <!-- 支付信息 -->
    <?php if(in_array($info['b_status'], array(1) )) { ?>
    <div class="order_info">
        <label><span><b>需支付：<?php echo $info['b_depo'] + $info['b_frei']; ?></b></span>元</label><br/>
        其中：保证金 <span><b>{$info.b_depo}</b></span>元，
        运费 <span><b>{$info.b_frei}</b></span>元，
        请按合同说明方式付款至平台指定帐号。
    </div>
    <?php } ?>

    <?php if(in_array($info['b_status'], array(9) )) { ?>
    <div class="order_info">
        <label><span><b>需支付：{$info|get9AllPrice=1}</b></span>元</label><br/>
        其中：利息 <span><b>{$info|get9AllPrice=2}</b></span>元，
        补跌价 <span><b>{$info|get9AllPrice=3}</b></span>元，
        退溢价 <span><b>{$info|get9AllPrice=4}</b></span>元，
        请按合同说明方式付款至平台指定帐号。
    </div>
    <?php } ?>

    <!-- 基础信息 -->
    <div class="order_info"><img src="" width="200" height="200" /></div>
    <div class="order_info">
        <label>
        {$info.b_name}　
        {$info.b_year}　
        {$info.b_place}　
        {$info.b_level}　
        容重{$info.b_rz}g/l
        </label>
    </div>
    <div class="order_info">
        <label>霉变{$info.b_mb}%</label>
        <label>水份{$info.b_sf}%</label>
        <label>杂质{$info.b_zz}%</label>
        <label>呕吐毒素{$info.b_ot}μg/kg</label>
    </div>
    <div class="order_item">
        出售重量：{$info.b_weig}吨<label>
        出售价格：{$info.b_pri0|formatMoney}元/吨元</label>
    </div>

    <!-- 核费信息 -->
    <div class="order_item">
        <?php if(in_array($info['b_status'], array(1,2,3,5,6,7,9,10) )) { ?>
        运费：<span><b>{$info.b_frei|formatMoney}</b></span>元 ({$info|getCartNumber}车)
        <?php } ?>
        <?php if(in_array($info['b_status'], array(1,2,3,5,6,7,9,10) )) { ?>
        <label>保证金：<span><b>{$info.b_depo|formatMoney}</b></span>元</label>
        <?php } ?>
    </div>
    <div class="order_item">
        <?php if(in_array($info['b_status'], array(5,6,7,9,10) )) { ?>
        净重：{$info.b_nwei}吨
        <?php } ?>
        <label>
            <?php if(in_array($info['b_status'], array(5,7,9,10) )) { ?>
            ({$info.b_rtime|getDateTime}) 回款：<b>{$info.b_rpay|formatMoney}</b>元
            <?php } ?>
        </label>
    </div>


    <div class="order_item">装货地址：{$info.b_add}<br/>联系人：{$info.b_cont}　　手机号：{$info.b_mobi}</div>
    <hr>

    <!-- 在售货组 -->
    <if condition="$info['on_sell']">
    <div class="order_info" style="text-align:left;">
        ({$info.on_sell|count})在售货组　　<b>{$info.b_pri1|formatMoney}</b>元/吨　
        <a href="/Wap/Sell/changePrice?b_id={$_GET['b_id']}"><修改售价></a>
    </div>
        <volist name="info.on_sell" id="vo">
            <div class="order_item" onclick="location.href='/Wap/Sell/billItemInfo/bi_id/{$vo.bi_id}?b_code={$info.b_code}'">
                &#8470;.{$vo.bi_id}
                <label>回款：<b>{$info|getClinch=$vo}</b>元</label><br/>
                {$vo.bi_sum}箱　净重{$vo.bi_gwei}吨<label>
                回款计息：<b>{$info|getInte=$vo}</b>元</label><br/>&nbsp;
                <label>(详情)</label>
            </div>
        </volist>
    </if>

    <!-- 已售货组 -->
    <if condition="$info['finish_sell']">
    <div class="order_info" style="text-align:left;">({$info.finish_sell|count})已售货组</div>
        <volist name="info.finish_sell" id="vo">
    <div class="order_item" onclick="location.href='/Wap/Sell/billItemInfo/bi_id/{$vo.bi_id}?b_code={$info.b_code}'">
        &#8470;.{$vo.bi_id}
        <label>{$vo|getDiffText}：<span><b>{$info|getBackMoney=$vo}</b></span>元</label><br/>
        {$vo.bi_sum}箱　净重{$vo.bi_gwei}吨
        <label>回款利息：<span><b>{$vo.bi_inte|formatMoney}</b></span>元</label><br/>
        货款：<b>{$vo.bi_dpay|formatMoney}</b>元 ({$info.b_pri1}元/吨)<label>(详情)</label>
    </div>
        </volist>
    </if>

    <!-- 已结货组 -->
    <if condition="$info['over_sell']">
        <div class="order_info" style="text-align:left;">
            ({$info.over_sell|count})已结货组
        </div>
        <volist name="info.over_sell" id="vo">
            <div class="order_item" onclick="location.href='/Wap/Sell/billItemInfo/bi_id/{$vo.bi_id}?b_code={$info.b_code}'">
                &#8470;.{$vo.bi_id}
                <label>回款：<b>{$info|getClinch=$vo}</b>元</label><br/>
                {$vo.bi_sum}箱　净重{$vo.bi_gwei}吨<label>
                已结利息：<b>{$info|getInte=$vo}</b>元</label><br/>&nbsp;
                <label>(详情)</label>
            </div>
        </volist>
    </if>

    <div class="order_info"><<a href="">查看电子合同</a>></div>
    <label>上架时间：{$info.b_stime|getDateTime}</label>
</div>
</div>
<input type="hidden" id="b_id" value="{$info.b_id}">
<include file="public/foot" />
<script type="text/javascript" src="/Public/bootstrap/js/jquery.min.js"></script>
<script>
function disp_confirm()
{
    var r=confirm("您确定要删除货单么?")
    if (r==true)
    {
        var b_id = $("#b_id").val();
        $.ajax({
            type: 'POST',
            url: '/Wap/Sell/del',
            data: 'b_id='+b_id,
            dataType: 'json',
            timeout: 10000,
            success: function(data){
                if(data.url) {
                    window.location.href = data.url ;
                }
                else {
                    alert(data.msg);
                }
            },
            error: function(xhr, type){
                alert('抱歉,加载失败!');
            }
        })
    }
}
</script>