<include file="public/head" />
<div class="cont">
    <div class="tit"><a href="/Wap"><返回</a>在售粮源</div>
    <hr>
    <div class="sel">
        <select disabled><option>玉米</option></select>
        <select name="level" class="gl_id">
            <option>全部</option>
            <volist name="level" id="vo">
                <if condition="$_GET['gl_id'] eq $vo['gl_id']">
                    <option selected value="{$vo.gl_id}">{$vo.gl_name}</option>　　
                    <else />
                    <option value="{$vo.gl_id}">{$vo.gl_name}</option>　　
                </if>
            </volist>
        </select>
        <select name="year" class="gy_id">
            <option>全部</option>
            <volist name="year" id="vo">
                <if condition="$_GET['gy_id'] eq $vo['gy_id']">
                    <option selected>{$vo.gy_id}</option>
                    <else/>
                    <option>{$vo.gy_id}</option>
                </if>
            </volist>
        </select>

        <br/>
        <select id="c_province" name="c_province">
            <option value="">全部</option>
            <volist name="c_province" id="vo">
                <option value="{$vo.id}"
                <?php if($_GET['c_province_id'] == $vo['id']) {  ?>selected<?php } ?>
                >{$vo.areaName}</option>
            </volist>
        </select>
        <select id="c_city" name="c_city">
            <option value="">全部</option>
            <volist name="c_city" id="vo">
                <option value="{$vo.id}"
                <?php if($_GET['c_city_id'] == $vo['id']) {  ?>selected<?php } ?>
                >{$vo.areaName}</option>
            </volist>
        </select>
        <select id="c_area" name="c_area">
            <option value="">请选区</option>
            <volist name="c_area" id="vo">
                <option value="{$vo.id}"
                <?php if($_GET['c_area_id'] == $vo['id']) {  ?>selected<?php } ?>
                >{$vo.areaName}</option>
            </volist>
        </select>

    </div>
    <div class="ord">

        <if condition="$_GET['t_name'] eq 'b_rz' AND $_GET['t_order'] eq 'desc' ">
            <a href="#" t_order="desc" t_name="b_rz" class="clkitem">容重<img src="/Public/app/img/ob_d.png"></a>
            <else/>
            <a href="#" t_order="asc" t_name="b_rz" class="clkitem">容重<img src="/Public/app/img/ob_a.png"></a>
        </if>


        <if condition="$_GET['t_name'] eq 'b_weig' AND $_GET['t_order'] eq 'desc' ">
            <a href="#" t_order="desc" t_name="b_weig" class="clkitem">净重<img src="/Public/app/img/ob_d.png"></a>
            <else/>
            <a href="#" t_order="asc" t_name="b_weig" class="clkitem">净重<img src="/Public/app/img/ob_a.png"></a>
        </if>

        <if condition="$_GET['t_name'] eq 'b_pri1' AND $_GET['t_order'] eq 'desc' ">
            <a href="#" t_order="desc" t_name="b_pri1" class="clkitem">单价<img src="/Public/app/img/ob_d.png"></a>
            <else/>
            <a href="#" t_order="asc" t_name="b_pri1" class="clkitem">单价<img src="/Public/app/img/ob_a.png"></a>
        </if>

        <if condition="$_GET['t_name'] eq 'b_stime' AND $_GET['t_order'] eq 'desc' ">
            <a href="#" t_order="desc" t_name="b_stime" class="clkitem">上架时间<img src="/Public/app/img/ob_d.png"></a>
            <else/>
            <a href="#" t_order="asc" t_name="b_stime" class="clkitem">上架时间<img src="/Public/app/img/ob_a.png"></a>
        </if>

    </div>
</div>
<div class="cont">
    <volist name="info.list" id="vo">
    <div class="list" onclick="location.href='/Wap/Sell/onLineBillInfo/b_id/{$vo.b_id}'">
        <div class="info1">{$vo.b_year}年 {$vo|getCAddress} {$vo.b_weig}吨<h3>{$vo.b_pri1|formatMoney}元/吨</h3></div>
        <div class="info2"><label>容重{$vo.b_rz}g/l</label><label>生霉{$vo.b_mb}%</label><label>水份{$vo.b_sf}%</label></div>
        <div class="info2"><label>杂质{$vo.b_zz}%</label><label>呕吐毒素{$vo.b_ot}μg/kg</label></div>
    </div>
    </volist>
    <div id="bill_list_item"></div>
</div>
<include file="public/foot" />

<input type="hidden" id="item_page" value="2" />
<input type="hidden" class="item_total_page" value="{$info.total_page}" />

<script type="text/javascript" src="/Public/bootstrap/js/jquery.min.js"></script>
<script type="text/javascript" src="/Public/js/cz_address.js" ></script>
<script type="text/javascript">
function getUrlParam(name) {
    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
    var r = window.location.search.substr(1).match(reg);  //匹配目标参数
    if (r != null) return unescape(r[2]); return null; //返回参数值
}
function isEmpty(v) {
    switch (typeof v) {
        case 'undefined':
            return true;
        case 'string':
            if (v.replace(/(^[ \t\n\r]*)|([ \t\n\r]*$)/g, '').length == 0) return true;
            break;
        case 'boolean':
            if (!v) return true;
            break;
        case 'number':
            if (0 === v || isNaN(v)) return true;
            break;
        case 'object':
            if (null === v || v.length === 0) return true;
            for (var i in v) {
                return false;
            }
            return true;
    }
    return false;
}

var url = '/Wap/Sell/sellBillList?';
// 排序
$(".clkitem").on('click tap',function(){
    // 设置url  有年份和产地时 把年份和产地参数带上
    var url = getUrlYearAndOrder(true, true, true, true, null, true);

    // 重新设置排序属性
    var t_name = $(this).attr('t_name');
    var t_order = $(this).attr('t_order');
    if (t_order == 'desc') {
        s_order = 'asc';
    }
    else {
        s_order = 'desc';
    }
    // 拼链接
    window.location.href = url + "&t_name=" + t_name + "&t_order=" + s_order ;
});

// 年份
$(".gy_id").on('change', function(){
    var url = getUrlYearAndOrder(true, true, true, null, true, true);

    var gy_id = $(this).val();
    if (!isEmpty(gy_id)) {
        window.location.href = url + "&gy_id=" + gy_id;
    }
    else {
        window.location.href = url;
    }
});


//等级事件
$(".gl_id").on('change', function () {
    var url = getUrlYearAndOrder(true, true, true, true, true, null);

    var gl_id = $(this).val();
    if (!isEmpty(gl_id)) {
        window.location.href = url + "&gl_id=" + gl_id;
    }
    else {
        window.location.href = url;
    }
});

// 产地
$(".gp_id").on('change', function(){
    // 年份链接
    var url_gy_id = getUrlParam('gy_id');
    if (url_gy_id != null) {
        url = url + '&gy_id=' + url_gy_id;
    }

    //排序链接
    var url_t_name = getUrlParam('t_name');
    if (url_t_name != null) {
        url = url + '&t_name=' + url_t_name;
    }

    var url_t_order = getUrlParam('t_order');
    if (url_t_order != null) {
        url = url + '&t_order=' + url_t_order;
    }

    var gp_id = $(this).val();
    if (!isEmpty(gp_id)) {
        window.location.href = url + "&gp_id=" + gp_id;
    }
    else {
        window.location.href = url;
    }
});



// 年份和排序
function getUrlYearAndOrder(is_province, is_city, is_area, is_gy, is_order, is_level) {
    //等级
    var url_gl_id = getUrlParam('gl_id');
    if (!isEmpty(url_gl_id) && !isEmpty(is_level)) {
        url = url + '&gl_id=' + url_gl_id;
    }

    // 年份链接
    var url_gy_id = getUrlParam('gy_id');
    if (!isEmpty(url_gy_id) && !isEmpty(is_gy)) {
        url = url + '&gy_id=' + url_gy_id;
    }

    //排序链接
    var url_t_name = getUrlParam('t_name');
    if (!isEmpty(url_t_name) && !isEmpty(is_order)) {
        url = url + '&t_name=' + url_t_name;
    }

    var url_t_order = getUrlParam('t_order');
    if (!isEmpty(url_t_order) && !isEmpty(is_order)) {
        url = url + '&t_order=' + url_t_order;
    }

    //省市区
    var c_province_id = getUrlParam('c_province_id');
    if (!isEmpty(c_province_id) && !isEmpty(is_province)) {
        url = url + '&c_province_id=' + c_province_id;
    }

    var c_city_id = getUrlParam('c_city_id');
    if (!isEmpty(c_city_id) && !isEmpty(is_city)) {
        url = url + '&c_city_id=' + c_city_id;
    }

    var c_area_id = getUrlParam('c_area_id');
    if (!isEmpty(c_area_id) && !isEmpty(is_area)) {
        url = url + '&c_area_id=' + c_area_id;
    }
    return url;
}



$('select[name="c_province"]').on('change',function(){
    url = getUrlYearAndOrder(null, true, true, true, true, true);

    var c_province_id = $(this).val();
    if (!isEmpty(c_province_id)) {
        window.location.href = url + "&c_province_id=" + c_province_id;
    }
    else {
        window.location.href = url;
    }
});

$('select[name="c_city"]').on('change',function(){
    url = getUrlYearAndOrder(true, null, true, true, true, true);

    var c_city_id = $(this).val();
    if (!isEmpty(c_city_id)) {
        window.location.href = url + "&c_city_id=" + c_city_id;
    }
    else {
        window.location.href = url;
    }
});


$('select[name="c_area"]').on('change',function(){
    url = getUrlYearAndOrder(true, true, null, true, true, true);

    var c_area_id = $(this).val();
    if (!isEmpty(c_area_id)) {
        window.location.href = url + "&c_area_id=" + c_area_id;
    }
    else {
        window.location.href = url;
    }
});




$(window).scroll(function(){
    // 声明参数 并添加筛选条件参数
    var ajaxUrl = '/Wap/Sell/ajaxGetPageSellBillList?';
    ajaxUrl = ajaxUrl + getUrlYearAndOrder(true, true, true, true, true, true);

    //判断是否滑动到页面底部
    if($(window).scrollTop() === $(document).height() - $(window).height()){
        //当前第几页
        var page = $("#item_page").val();
        $("#item_page").val(parseInt(page) + 1);

        // 共几页
        var total_page = parseInt($(".item_total_page").val());
        if (page > total_page) {
            $("#bill_list_item").empty();
            $("#bill_list_item").append('已无更多数据');
            return false;
        }

        $.ajax({
            type: 'POST',
            url: ajaxUrl + '&p=' + page,
            dataType: 'json',
            timeout: 10000,
            success: function(data){
                if (data.list == null) {
                    return false;
                }
                else {
                    $("#bill_list_item").append(data.list);
                }
            },
            error: function(xhr, type){
                alert('抱歉,加载失败!');
            }
        });

    }
});
</script>