<include file="public/head" />
<div class="cont">
    <div class="tit"><a href="#" onclick="window.history.go(-1);"><返回</a>在售粮源</div>
    <hr>
    <div class="sel"><select disabled><option>玉米</option></select><select disabled><option>一等</option></select><select><option>全部年份</option></select><select><option>全部产地</option></select></div>
    <div class="ord">
        <a href="" class="clkitem">容重<img src="/Public/app/img/ob_a.png"></a>
        <a href="" class="clkitem">净重<img src="/Public/app/img/ob_a.png"></a>
        <a href="" class="clkitem">单价<img src="/Public/app/img/ob_a.png"></a>
        <a href="" class="clkitem">上架时间<img src="/Public/app/img/ob_a.png"></a>
    </div>
</div>
<div class="cont">
    <div class="list" onclick="location.href='salebill.php'">
        <div class="info1">2018年 辽宁 100吨<h3>1,700元/吨</h3></div>
        <div class="info2"><label>容重720g/l</label><label>霉变1.2%</label><label>水份13.5%</label></div>
        <div class="info2"><label>杂质1.9%</label><label>呕吐毒素1000μg/kg</label></div>
    </div>
    <div class="list" onclick="location.href='salebill.php'">
        <div class="info1">2018年 辽宁 100吨<h3>1,700元/吨</h3></div>
        <div class="info2"><label>容重720g/l</label><label>霉变1.2%</label><label>水份13.5%</label></div>
        <div class="info2"><label>杂质1.9%</label><label>呕吐毒素1000μg/kg</label></div>
    </div>
    <div class="list" onclick="location.href='salebill.php'">
        <div class="info1">2018年 辽宁 100吨<h3>1,700元/吨</h3></div>
        <div class="info2"><label>容重720g/l</label><label>霉变1.2%</label><label>水份13.5%</label></div>
        <div class="info2"><label>杂质1.9%</label><label>呕吐毒素1000μg/kg</label></div>
    </div>
    <div class="list" onclick="location.href='salebill.php'">
        <div class="info1">2018年 辽宁 100吨<h3>1,700元/吨</h3></div>
        <div class="info2"><label>容重720g/l</label><label>霉变1.2%</label><label>水份13.5%</label></div>
        <div class="info2"><label>杂质1.9%</label><label>呕吐毒素1000μg/kg</label></div>
    </div>
    <div class="list" onclick="location.href='salebill.php'">
        <div class="info1">2018年 辽宁 100吨<h3>1,700元/吨</h3></div>
        <div class="info2"><label>容重720g/l</label><label>霉变1.2%</label><label>水份13.5%</label></div>
        <div class="info2"><label>杂质1.9%</label><label>呕吐毒素1000μg/kg</label></div>
    </div>
    <div class="list" onclick="location.href='salebill.php'">
        <div class="info1">2018年 辽宁 100吨<h3>1,700元/吨</h3></div>
        <div class="info2"><label>容重720g/l</label><label>霉变1.2%</label><label>水份13.5%</label></div>
        <div class="info2"><label>杂质1.9%</label><label>呕吐毒素1000μg/kg</label></div>
    </div>
</div>
<include file="public/foot" />