<include file="public/head" />
<script type="text/javascript">
    onload = function(){
        document.getElementById('list1').style['display'] = 'none';
        document.getElementById('list2').style['display'] = 'none';
        document.getElementById('list3').style['display'] = 'none';
        document.getElementById('ft1').style['display'] = 'none';
        document.getElementById('ft2').style['display'] = 'none';
        document.getElementById('ft3').style['display'] = 'none';
        var itemval = GetQueryString('item');
        if(itemval==null) itemval=1;
        document.getElementById('list'+itemval).style['display'] = '';
        document.getElementById('ft'+itemval).style['display'] = '';
        document.getElementById('item'+itemval).setAttribute('class', 'hot');
    }

    function GetQueryString(name)
    {
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null)return  unescape(r[2]); return null;
    }
</script>
<div class="cont">
    <div class="ind">
        <label><a href="/Wap/User/userView">{$user.real_name}</a></label>
        <a href="/Wap/SysMsg/index">系统通知({$msg_count})</a>
    </div>
    <div class="pboard">
        <h4>高品质玉米：</h4>
        <h5>今日市场参考价</h5>
        <h6><span id="pri_g"></span>　容重<b id="pri_r"></b>g/l　　　　　　　　　元/吨</h6>
        <h2><span id="pri_p">1,700</span></h2>
    </div>
</div>
<div class="cont">
    <div class="item_tit">
        <a href="/Wap/Message/index/?item=1" id="item1">买粮({$info.order.order_count})</a>
        <a href="/Wap/Message/index/?item=2" id="item2">预购({$info.offer.count})</a>
        <a href="/Wap/Message/index/?item=3" id="item3">卖粮({$info.bill.count})</a>
    </div>
</div>
<div class="item_list" id="list1">
    <volist name="info.order.list" id="vo">
        <div class="item" onclick="location.href='/Wap/Order/info/o_id/{$vo.o_id}'">
            <div class="info1">
                {$vo.o_code}<label>{$vo.o_ctime|date='Y/m/d H:i',###}</label>
            </div>
            <div class="info2">{$vo.bill.b_name}　　{$vo.bill.b_year}年/{$vo.bill|getCAddress}/{$vo.bill.b_level}</div>
            <div class="info3">
                容重：<b>{$vo.bill.b_rz}</b>g/l　　
                <b>{$vo.bill.all_nwei}</b>吨　　
                <b>{$vo.o_pri1|formatMoney}</b>元/吨
                <label><b>{$vo.o_status|getMessageById=0}</b></label>
            </div>
        </div>
    </volist>
    <div id="order_list_item_1"></div>
</div>

<div class="item_list" id="list2">
    <volist name="info.offer.list" id="vo">
    <div class="item" onclick="location.href='/Wap/Offer/offerInfo/f_id/{$vo.f_id}'">
        <div class="info1">
            {$vo.f_code}<label>{$vo.f_ctime|date='Y/m/d H:i',###}</label>
        </div>
        <div class="info2">{$vo.f_name}　　{$vo.f_year}年/{$vo|getCAddress}/{$vo.f_level}　　</div>
        <div class="info3">
            容重：<b>{$vo.f_rz}</b>g/l　　
            <b>{$vo.f_weig}</b>吨<label>{$vo.f_status|getMessageById=2}</label>
        </div>
    </div>
    </volist>
    <div id="order_list_item_2"></div>
</div>

<div class="item_list" id="list3">
    <volist name="info.bill.list" id="vo">
    <div class="item" onclick="location.href='/Wap/Sell/sellBillInfo/b_id/{$vo.b_id}'">
        <div class="info1">
            {$vo.b_code}<label>{$vo.b_ctime|date='Y/m/d H:i',###}</label>
        </div>
        <div class="info2">{$vo.b_name}　　{$vo.b_year}年/{$vo|getCAddress}/{$vo.b_level}　　</div>
        <div class="info3">
            容重：<b>{$vo.b_rz}</b>g/l　　
            <b>{$vo.b_weig}</b>吨　　<b>{$vo.b_pri1|formatMoney}</b>元/吨<label><b>{$vo.b_status|getMessageById=1}</b></label></div>
    </div>
    </volist>
    <div id="order_list_item_3"></div>
</div>
<div class="item_ft" id="footer">
    <div id="ft1">
        <div><a href="/Wap/Sell/sellBillList">在售粮源</a></div>
        <div><a href="/Wap/Cart/index">购物车({$cart_count})</a></div>
    </div>
    <div id="ft2">
        <div><a href="/Wap/Offer/addOffer">我要预购</a></div>
    </div>
    <div id="ft3">
        <div><a href="/Wap/Sell/sellBill">我要卖粮</a></div>
    </div>
</div>

<input type="hidden" id="item_id" value="{$_GET['item']}"/>
<input type="hidden" id="item_page" value="2" />

<if condition="$_GET['item'] eq 1 OR !$_GET['item']">
    <input type="hidden" class="item_total_page" value="{$info.order.total_page}" />
<elseif condition="$_GET['item'] eq 2" />
    <input type="hidden" class="item_total_page" value="{$info.offer.total_page}" />
<elseif condition="$_GET['item'] eq 3" />
    <input type="hidden" class="item_total_page" value="{$info.bill.total_page}" />
</if>

<include file="public/foot" />

<script type="text/javascript">
    footerM();
    window.onresize = function(){
        footerM();
    }
    function footerM(){
        document.getElementById('footer').style['top'] = document.documentElement.clientHeight-60+'px';
        var itemval = GetQueryString('item');
        if(itemval==null) itemval=1;
        document.getElementById('list'+itemval).style['min-height'] = document.documentElement.clientHeight-230+'px';
    }
</script>
<script type="text/javascript" src="/Public/bootstrap/js/jquery.min.js"></script>
<script>
    // 当前第几个导航条
    var item = $("#item_id").val();
    if (item.length == 0) {
        item = 1;
    }
    item = parseInt(item);
    $(window).scroll(function(){
        //判断是否滑动到页面底部
        if($(window).scrollTop() === $(document).height() - $(window).height()){
            //当前第几页
            var page = $("#item_page").val();
            $("#item_page").val(parseInt(page) + 1);

            // 共几页
            var total_page = parseInt($(".item_total_page").val());
            if (page > total_page) {
//                alert(page);
//                alert(total_page);
//                if (item == 1) {
//                    $("#order_list_item_1").empty();
//                    $("#order_list_item_1").append(data.list);
//                }
//                if (item == 2) {
//                    $("#order_list_item_2").empty();
//                    $("#order_list_item_2").append(data.list);
//                }
//                if (item == 3) {
//                    $("#order_list_item_3").empty();
//                    $("#order_list_item_3").append(data.list);
//                }
                return false;
            }


            if (item == 1) {
                $.ajax({
                    type: 'POST',
                    url: '/Wap/Message/ajaxGetPageOrder?p=' + page,
                    dataType: 'json',
                    timeout: 10000,
                    success: function(data){
                        if (data.list == null) {
                            return false;
                        }
                        else {
                            $("#order_list_item_1").append(data.list);
                        }
                    },
                    error: function(xhr, type){
                        alert('抱歉,加载失败!');
                    }
                });

            }

            if (item == 2) {
                $.ajax({
                    type: 'POST',
                    url: '/Wap/Message/ajaxGetPageOffer?p=' + page,
                    dataType: 'json',
                    timeout: 10000,
                    success: function(data){
                        if (data.list == null) {
                            return false;
                        }
                        else {
                            $("#order_list_item_2").append(data.list);
                        }
                    },
                    error: function(xhr, type){
                        alert('抱歉,加载失败!');
                    }
                });
            }

            if (item == 3) {
                $.ajax({
                    type: 'POST',
                    url: '/Wap/Message/ajaxGetPageBill?p=' + page,
                    dataType: 'json',
                    timeout: 10000,
                    success: function(data){
                        if (data.list == null) {
                            return false;
                        }
                        else {
                            $("#order_list_item_3").append(data.list);
                        }
                    },
                    error: function(xhr, type){
                        alert('抱歉,加载失败!');
                    }
                });
            }
        }
    });
</script>
<script type="text/javascript" src="/Public/js/priJson.js"></script>